
<div class="columns">

  <article class="col-3 bg-beige columns__content js-show delay-content" data-offset=0%>

    <figure class="do-not-delay columns__content__wrapper"><img src="/img/palett.png" alt=""></figure>

    <div class="columns__content__wrapper">
      <h1>Lorem ipsum set dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos enim praesentium cumque mollitia quam pariatur.</p>
      <a href="#" class="btn">Läs mer</a>
    </div>
  </article>

  <article class="col-3 columns__content js-show delay-content" data-offset=0%>

    <figure class="do-not-delay columns__content__wrapper"><img class="align-bottom" src="/img/palett.png" alt=""></figure>

    <div class="columns__content__wrapper">
      <h1>Lorem ipsum set dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos enim praesentium cumque mollitia quam pariatur.</p>
      <a href="#" class="btn">Läs mer</a>
    </div>
  </article>

  <article class="col-3 bg-beige columns__content js-show delay-content" data-offset=0%>

    <figure class="do-not-delay columns__content__wrapper"><img class="align-bottom" src="/img/palett.png" alt=""></figure>

    <div class="columns__content__wrapper">
      <h1>Lorem ipsum set dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos enim praesentium cumque mollitia quam pariatur.</p>
      <a href="#" class="btn">Läs mer</a>
    </div>
  </article>

</div>

<div class="columns">

  <article class="col-4 bg-beige columns__content js-show" data-offset=0%>

    <figure class="do-not-delay columns__content__wrapper"><img src="/img/palett.png" alt=""></figure>

    <div class="columns__content__wrapper">
      <h1>Lorem ipsum set dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos enim praesentium cumque mollitia quam pariatur.</p>
      <a href="#" class="btn">Läs mer</a>
    </div>
  </article>

  <article class="col-4 columns__content js-show" data-offset=0%>

    <figure class="do-not-delay columns__content__wrapper"><img class="" src="/img/palett.png" alt=""></figure>

    <div class="columns__content__wrapper">
      <h1>Lorem ipsum set dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos enim praesentium cumque mollitia quam pariatur.</p>
      <a href="#" class="btn">Läs mer</a>
    </div>
  </article>

  <article class="col-4 bg-beige columns__content js-show" data-offset=0%>

    <figure class="do-not-delay columns__content__wrapper"><img src="/img/palett.png" alt=""></figure>

    <div class="columns__content__wrapper">
      <h1>Lorem ipsum set dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos enim praesentium cumque mollitia quam pariatur.</p>
      <a href="#" class="btn">Läs mer</a>
    </div>
  </article>

  <article class="col-4 columns__content js-show" data-offset=0%>

    <figure class="do-not-delay columns__content__wrapper"><img class="" src="/img/palett.png" alt=""></figure>

    <div class="columns__content__wrapper">
      <h1>Lorem ipsum set dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos enim praesentium cumque mollitia quam pariatur.</p>
      <a href="#" class="btn">Läs mer</a>
    </div>
  </article>

</div>

<div class="columns margin">

  <article class="col-3 columns__content js-show delay-content" data-offset=0%>

    <figure class="do-not-delay columns__content__wrapper"><img src="/img/palett.png" alt=""></figure>

    <div class="columns__content__wrapper">
      <h1>Lorem ipsum set dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos enim praesentium cumque mollitia quam pariatur.</p>
      <a href="#" class="btn">Läs mer</a>
    </div>
  </article>

  <article class="col-3 columns__content js-show delay-content" data-offset=0%>

    <figure class="do-not-delay columns__content__wrapper"><img class="align-bottom" src="/img/palett.png" alt=""></figure>

    <div class="columns__content__wrapper">
      <h1>Lorem ipsum set dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos enim praesentium cumque mollitia quam pariatur.</p>
      <a href="#" class="btn">Läs mer</a>
    </div>
  </article>

  <article class="col-3 columns__content js-show delay-content" data-offset=0%>

    <figure class="do-not-delay columns__content__wrapper"><img class="align-bottom" src="/img/palett.png" alt=""></figure>

    <div class="columns__content__wrapper">
      <h1>Lorem ipsum set dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos enim praesentium cumque mollitia quam pariatur.</p>
      <a href="#" class="btn">Läs mer</a>
    </div>
  </article>

</div>

<div class="columns margin limit-width">

  <article class="col-3 columns__content js-show delay-content" data-offset=0%>

    <figure class="do-not-delay columns__content__wrapper"><img src="/img/palett.png" alt=""></figure>

    <div class="columns__content__wrapper">
      <h1>Lorem ipsum set dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos enim praesentium cumque mollitia quam pariatur.</p>
      <a href="#" class="btn">Läs mer</a>
    </div>
  </article>

  <article class="col-3 columns__content js-show delay-content" data-offset=0%>

    <figure class="do-not-delay columns__content__wrapper"><img class="align-bottom" src="/img/palett.png" alt=""></figure>

    <div class="columns__content__wrapper">
      <h1>Lorem ipsum set dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos enim praesentium cumque mollitia quam pariatur.</p>
      <a href="#" class="btn">Läs mer</a>
    </div>
  </article>

  <article class="col-3 columns__content js-show delay-content" data-offset=0%>

    <figure class="do-not-delay columns__content__wrapper"><img class="align-bottom" src="/img/palett.png" alt=""></figure>

    <div class="columns__content__wrapper">
      <h1>Lorem ipsum set dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos enim praesentium cumque mollitia quam pariatur.</p>
      <a href="#" class="btn">Läs mer</a>
    </div>
  </article>
  <article class="col-3 columns__content js-show delay-content" data-offset=0%>

    <figure class="do-not-delay columns__content__wrapper"><img src="/img/palett.png" alt=""></figure>

    <div class="columns__content__wrapper">
      <h1>Lorem ipsum set dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos enim praesentium cumque mollitia quam pariatur.</p>
      <a href="#" class="btn">Läs mer</a>
    </div>
  </article>

  <article class="col-3 columns__content js-show delay-content" data-offset=0%>

    <figure class="do-not-delay columns__content__wrapper"><img class="align-bottom" src="/img/palett.png" alt=""></figure>

    <div class="columns__content__wrapper">
      <h1>Lorem ipsum set dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos enim praesentium cumque mollitia quam pariatur.</p>
      <a href="#" class="btn">Läs mer</a>
    </div>
  </article>

  <article class="col-3 columns__content js-show delay-content" data-offset=0%>

    <figure class="do-not-delay columns__content__wrapper"><img class="align-bottom" src="/img/palett.png" alt=""></figure>

    <div class="columns__content__wrapper">
      <h1>Lorem ipsum set dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos enim praesentium cumque mollitia quam pariatur.</p>
      <a href="#" class="btn">Läs mer</a>
    </div>
  </article>

</div>
