---
layout: lundhags
title: Lundhags - Guide Expedition 75
product_title: Guide Expedition 75
product_text: Ny och mycket stabil turpjäxa för NN75-systemet. Utformad med Lundhags klassiska skalprincip, urtagbar filtinnersko och högre skaft jämfört med Guide BC.
product_img: boots/guide_bc_expedition_boot.png
product_link: https://www.lundhags.se/Produkter/Nordic-Skating/Skating-Boots/Guide-Expedition-BC/
---

<section class="theme-page">

	<article class="product-banner">

    <div class="product-banner__content">

      <figure><img src="/img/{{page.product_img}}" alt=""></figure>
      <div>
        <h1>{{ page.product_title }}</h1>
  			<p>{{ page.product_text }}</p>
        <a href="{{ page.product_link }}">Gå till produkt</a>
      </div>

		</div>

	</article>



	<article scroll-point class="light-color align-center">

		<figure><img class="bg" src="/img/royalmarines_bild1.jpg" alt="" ></figure>
		<!-- <img class="stuck" src="/img/blackice/skaters.png" alt=""> -->

		<div class="text-content" scroll-content>
			<h1 class="title large">Royal<br/>Marines</h1>

			<p>Ibland hårdnar miljöerna och påfrestningarna. Och därmed kraven på våra kängor. Ett tydligare exempel än önskemålen från brittiska Royal Marines är svårt att hitta.</p>
		</div>

	</article>



  <article scroll-point scroll-point-bottom class="light-color align-center" >

		<div class="text-content" scroll-content>

			<h1>Extrema förhållanden kräver<br/>precision i varje detalj.</h1>
		</div>

        <div class="movement-layers">
          <div class="layer" data-depth="0.1"><img src="/img/royalmarines_bild2.jpg" alt=""></div>
        </div>


	</article>


	<article scroll-point scroll-point-bottom class="product big">

    <div class="product__wrapper">
      <figure><img src="/img/{{page.product_img}}" alt=""></figure>
      <div class="product__wrapper__text">
        <h1>{{ page.product_title }}</h1>
        <p>{{ page.product_text }}</p>
        <a href="{{ page.product_link }}">Gå till produkt</a>
      </div>
    </div>

	</article>


</section>
