
.product-banner {
	min-height:0;
	background:$light-gray;

	.product-banner__content {
		padding:$padding*3 0;
		@include flex-layout($wrap:nowrap, $dir:column);
		max-width:95%;
		margin:auto;

		> * {
			margin:auto $padding;
		}

		> div {
			flex: 1;
		}

		figure {
			@include flex-layout($dir:column);
			margin:0;
			margin-bottom:$padding*2;
		}

	}


	img {
		max-width:320px;
		width:100%;
		margin: auto;
	}

	@media screen and (min-width: $portrait){

		.product-banner__content {
			@include flex-layout($wrap:nowrap);

			figure {
				margin-bottom:0;
				width:40%;
				margin-right:$padding*2;
			}
		}
	}

	@media screen and (min-width: $desktop){


		figure {
			width:25%;
			//margin-right:$padding*3;
		}

		.product-banner__content {
			max-width:80%;
			max-width:900px;
		}
	}

}

.banner {

	//min-height:150vh;
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	//max-height:80vh;
	//overflow:scroll;
	position: relative;
	overflow:hidden;

	&:after {
		position: absolute;
		position: fixed;
		top: 90vh;
		z-index: 999;

		@extend .fa;
		content:"\f0d7";
		color:$primary-color;
		width:100%;
		display:block;
		text-align:center;

		.black-ice & {
			color:$ice-red;
		}

		transition:opacity .4s ease;

			animation-name: upNdownSlow;
			animation-delay: 0s;
			animation-duration: 2s;
			animation-duration: 10s;
			animation-iteration-count: infinite;

	}

	.image {
		position: fixed;
		bottom:0;
		top:0;
		left:0;
		right:0;
		margin:auto;
		width:50%;
		transition:all 2s ease;
		opacity:0;
		//-webkit-animation: fadeOut 2s 0s 1;
		//-webkit-animation-delay: 0s;
	}

	&.hit {

		.image {
			//-webkit-animation: fadeIn 2s 0s 1;
			//-webkit-animation-delay: 0s;
			opacity:1;
		}
	}

	.bg {
		position: absolute;

	}

	[scroll-bg] {
		position: fixed;
		bottom:0;
		top:0;
		left:0;
		right:0;
		margin:auto;
		//min-height:100vh;
		//min-width:100vw;
		//transition:all .05s linear;
		//display:none;

		.black-ice & {
			position: absolute;
		}

		.pants & {
			min-height: 100vh;
			width: auto;
		}
	}

	//background:none !important;
	background-repeat:no-repeat !important;
	background-size:cover !important;
	background-attachment:fixed !important;
	background-position:center !important;



	.heritage & {
		//background-attachment:initial !important;
		height:150vh;
		flex-wrap:nowrap;

		.bg {
			position: absolute;
			bottom:-35vh;
			//left:0;
			//right:0;
			pointer-events: none;

			.touch-device & {
				transition: all 0.1s linear;
			}

			&:first-of-type {
				z-index:1;
				bottom:-65vh;
				//transition:all 1s linear 0s;

				@media screen and (max-width: $portrait - 1) and (-webkit-device-pixel-ratio: 2) {
					display: none;
				}

				@media screen and (min-width: $xl){
					bottom: -35vh;
				}

			}

			&.skyline {
				z-index:0;
				transform: scale(.7);
				min-height:auto;
				bottom:0vh;
				opacity: .6;
				width: 100%;
				filter: blur(2px);
				filter: blur(0px);
			}

			&.skyline2 {
				z-index:0;
				transform: scale(.7);
				min-height:auto;
				bottom:-60vh;
				//opacity: .6;
				width: 120%;
				filter: blur(1px);
				display: none;

				@media screen and (min-width: $xl){
					bottom: -30vh;
				}

			}

			@media screen and (min-width: $portrait){
				left:0;
				right:0;
			}
		}

		//.bg[scroll-content] {
		.bg:last-of-type {
			bottom:-5vh;
			padding:0;
			//transform: scale(1.2);

			//transition:all 2s linear 0s;
		}

		&:before {
			position: fixed;
			bottom:0;
			left:0;
			right:0;
			content:"";
			display:block;
			width:100%;
			height:35vh;
			top:auto;
			z-index:10;
			opacity:0;
			transition:opacity 1s ease 0s;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,df6016+100&0+0,0.5+100 */
background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(223,96,22,0.4) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(223,96,22,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(223,96,22,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#80df6016',GradientType=0 ); /* IE6-9 */

		}

		&.stop {
			background-attachment:fixed !important;

			&:before {
				opacity:1;
				transition:opacity 3s ease 1s;
			}

			.bg {
				position: fixed;
				//transform:none !important;
				//transition:all 1s linear 0s;

				&:first-of-type {
					//bottom:-55vh;
					//bottom:-40vh;
				}

				&:last-of-type {
					//bottom:0;
					//transform:none !important;
					//transition:all 1s linear 0s;
				}
			}
		}
	}

	@media screen and (min-width: $portrait) and (max-width: $landscape) and (-webkit-device-pixel-ratio: 2) {
		background-repeat:no-repeat !important;
		background-size:cover !important;
		background-attachment:initial !important;
	}

	[scroll-content]{
		padding:40vh 0 40vh;
		padding:55vh $padding 5vh;
		//position: absolute;


	}


	.content {
		height:100vh;
		width:100%;
		padding-top:10vh;
		display:flex;
		flex-wrap:no-wrap;
		flex-direction:column;
		//justify-content:center;
		align-items:center;

		> * {
			//display:block;
			//width:100%;
		}
	}
}

.banner__content {
	max-width:700px;
	/* text-align:center;
	margin:auto;
	font-size:1.4rem; */
	//padding:20vh 0 20vh;

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}

	p {
		line-height:1.6;

	}

	@media screen and (min-width: $landscape){
		max-width:900px;
	}


}
