.columns {
	> [fixed-content] {
		width:100%;
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
		align-items:center;
		//margin-top: 25vh;
		//padding:$padding*2;

		div {
			text-align:center;
			max-width:550px;
		}

		@media screen and (min-width:$portrait){
			width:50%;
			padding:$padding*2;
		}
	}
}
