
.bg-hybrid {
  background:#351e24;
  background: url(../img/pants/wphybrid.jpg);
}

.bg-hybrid-stretch {
  background:#484743;
  background: url(../img/pants/stretchhybrid.jpg);
}

.bg-solid {
  background:#6c6054;
}

.bg-waterproof {
  background:#2C2F39;
  background: url(../img/pants/waterproof.jpg);
}


.toggle-features {
	position: absolute;
	z-index:100;
	bottom:7%;
	right:10%;
	display:none !important;

	&:before {
		content:attr(prev-text) " ";
	}

	@media screen and (min-width:$portrait){
		//display:block !important;
	}
}

.go-to-category {
	position: relative;;
	z-index:100;

	display:block !important;
  width:100%;
  margin: 20px auto 40px;

	@media screen and (min-width:$portrait){
		position: absolute;
    width: auto;
		bottom:7%;
		right:10%;
		margin: 0;
	}
}

a.product-model-name {
	position: relative;;
	z-index:100;

	display:block !important;
  width:100%;
	color:#fff;
  margin-bottom: $padding*2;

	@media screen and (min-width:$portrait){
		position: absolute;
    width: auto;
		bottom:7%;
		left:10%;
    margin-bottom: 0;
	}
}

.features-wrapper {

  @media screen and (min-width:$landscape){
    .pants & {
      //height:100%;
      margin-top:0;

      img {
        //height: 100%;
        max-width: 100%;
      }
    }
  }

  @media screen and (min-width:$xl){
    .pants & {
      height:100%;
      margin-top:0;

      img {
        height: 100%;
        max-width: none;
      }
    }
  }

}

.features {
	margin:0px auto;
	width:auto;

	color:#000;

	max-width:95%;
	position: relative;



	img {
		max-width:95%;
		margin-top:-100px;
		margin-bottom:$padding;
	}

  // Byxorna ska linjera i toppen av sidan
	.pants & {

    @media screen and (min-width:$portrait){
		  height:100%;
    }


    margin-top: 0;

		img {
			align-self: flex-start;
			max-height:100vh;
      margin-top: 0;
			//height:80%;
			//height:95%;
			//max-width: none;
			//max-height: none;
		}
	}

	#skates + article & {
		@media screen and (min-width:$portrait) and (max-width:$landscape - 1){
			max-width:100%;
		}
	}

	#boots + article & {
		@media screen and (min-width:$portrait) and (max-width:$landscape - 1){
			max-width:65%;
		}
	}

	&.pik {
		img {
			margin:0 auto;
			//max-height:100%;
			max-height:none;

			@media screen and (min-width:$portrait) and (max-width:$landscape - 1){
				max-width:75%;
			}
		}
	}

	@media screen and (min-width:$portrait){
		//position: absolute;
		margin:0px auto 200px;
		z-index:10;
		max-width:70%;

    .pants & {
      max-width:80%;
    }

		img {
			max-width:95%;
			margin:auto;
		}


	}

	@media screen and (min-width:$landscape){
		margin:auto;
		max-width:95%;

		img {
			max-width:95%;
			max-height:80vh;

			width:auto;
		}
	}

}

$hotspot_height:100px;
$hotspot_width:220px;
$hotspot_margin_y: ($hotspot_height + 8);
$hotspot_margin_x: ($hotspot_width + 8);

.hotspots {
	list-style:none;
	padding:0;
	margin:0;
	margin-bottom:$padding;

	background:#fff;
	padding:20px;
	line-height:1.4;





	li {
		border-bottom:1px solid $bg-color;
		padding:10px 5px;

		&:last-of-type {
			border:0;
		}
	}

	@media screen and (min-width:$portrait){

		background:none;
		padding:0;
		line-height:inherit;

		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;

		transition:all .6s cubic-bezier(0.770, 0.000, 0.175, 1.000);
		transition-delay:.6s;
		transform: matrix(1, 0, 0, 1, 0, 0);
		opacity:0;

		position: absolute;
		z-index:10;

		font-size:.8em;

		.pants & {
			max-width:650px;
			max-height:800px;
			margin-left: auto;
			margin-right: auto;

      //max-height: 950px;
		}


		.hit & {
			transition:all .6s cubic-bezier(0.770, 0.000, 0.175, 1.000);
			transition-delay:.8s;
			transform: matrix(1, 0, 0, 1, 0, 0);
			opacity:1;

			&.hide-me {
				opacity:0;
				transition-delay:0s;
			}

			&.show-me {
				opacity:1;
				transition-delay:0s;
			}

			span {
				opacity: 1;
			}

			li:before {
				max-height:400px;
			}

			li.left:before, li.right:before {
				max-width:400px;
				max-height:none;
			}

			li:after {
				opacity:1;
				animation-name: pulse;
				animation-delay: 1.4s;
				animation-duration: 1.4s;
				animation-iteration-count: 1;
			}
		}

		li {
			position: relative;
			padding:0;
			border:0 !important;
			position: absolute;
			display:flex;

			&.short{

				&:before {
					height: $hotspot_height/1.5;
				}

				&:before, &:after {
					margin-bottom: -(($hotspot_margin_y/1.5)+4);
				}
			}

			span {
				opacity:0;
				transition:all .8s cubic-bezier(0.770, 0.000, 0.175, 1.000);
				transition-delay:1.2s;
				display:flex;
				align-items: flex-end;
				line-height:1.2;
				width:$hotspot_width;
				height:$hotspot_height;

				.pants & {
					color:#fff;
				}

			}

			&:before, &:after {
				content:"";
				display:block;
				position: absolute;
				margin:auto;
				margin-bottom: -$hotspot_margin_y*1.5;
				left:0;
				right:0;
				bottom:0;
			}

			&:before {
				width:1px;
				height:$hotspot_height*1.5;
				background:#000;
				transition:all 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
				transition-delay:.8s;
				max-height:0;
			}

			&:after {
				width:5px;
				height:5px;
				border-radius:50%;
				background:$primary-color;
				opacity:0;
				transition:all .6s cubic-bezier(0.770, 0.000, 0.175, 1.000);
				transition-delay:.4s;

				.black-ice & {
					background: $ice-red;
				}

			}

      .light-color & {
        &:before {
          background:#333;
          background:#555;
          //box-shadow: 0 0 1px -1px rgba(255,255,255,1);
        }
      }

			&.down {

				&.short{

					span {
						height: -$hotspot_margin_y/2;

					}

					&:before,
					&:after {
						margin-top: -(($hotspot_margin_y/1.5)+4);
					}
				}

				span {
					align-items: flex-start;
				}

				&:before,
				&:after {
					bottom:auto;
					top:0;
					margin:auto;
					margin-top: -$hotspot_margin_y*1.5;
				}
			}

			&.left, &.right {
				align-items:center;
				padding:0;

				&:before {
					width:100%;
					height:1px;
					max-width:0;
					width:$hotspot_width/2;
				}

				span {
					width:$hotspot_width/2;
					width:$hotspot_width/1.5;
					align-items: center;
				}
			}

			&.left {

				span {
					justify-content: flex-end;
					text-align: right;
				}

				&:before,
				&:after {
					bottom:0;
					top:0;
					left:0;
					margin:auto;
					margin-right: -($hotspot_width/2) - 8;
				}
			}

			&.right {

				span {
					justify-content: flex-start;
					text-align: left;
				}

				&:before,
				&:after {
					bottom:0;
					top:0;
					left:0;
					margin:auto;
					margin-left: -($hotspot_width/2) - 8;
				}
			}

		}

		&#features_boot {

			li {
				left:-1%;
				top:-18%;

				&:nth-child(2) {
					left:22%;
					top:-30%;
				}

				&:nth-child(3) {
					left:65%;
					top:25%;
				}

				&:nth-child(4) {
					left:70%;
					top:105%;
				}

				&:nth-child(5) {
					left:32%;
					top:110%;
				}

				&:nth-child(6) {
					left:-6%;
					top:98%;
				}

				&:nth-child(7) {
					left:-28%;
					top:65%;
				}

				&:nth-child(8) {
					left:-25%;
					top:36%;
				}
			}

		}

    &#features_tjakke {

			li {
				left:-33%;
				top:60%;

				&:nth-child(2) {
					left:60%;
					top:20%;
				}


				&:nth-child(3) {
					left:45%;
					top:110%;
				}

				&:nth-child(4) {
					left:-10%;
					top:110%;
				}

				&:nth-child(7) {
					left:-28%;
					top:65%;
				}

				&:nth-child(8) {
					left:-25%;
					top:36%;
				}
			}

		}

		&#features_pike {
			li {
				left:84%;
				top:32%;

				&:nth-child(2) {
					left:91%;
					top:59%;
				}

				&:nth-child(3) {
					left:85%;
					top:70%;
				}

				&:nth-child(4) {
					left:-9%;
					top:22%;
				}

				&:nth-child(5) {
					left:-13%;
					top:32%;
				}

				&:nth-child(6) {
					left:2%;
					top:60%;
				}
			}
		}

		&#features_skate {
			li {
				left:0%;
				top:21%;

				&:nth-child(2) {
					left:45%;
					top:-2%;
				}

				&:nth-child(3) {
					left:70%;
					top:16%;
					top:75%;
				}

				&:nth-child(4) {
					left:36%;
					top:102%;
				}

				&:nth-child(5) {
					left:-5%;
					top:48%;
					top:89%;
				}

				&:nth-child(6) {
					left:48%;
					top:58%;
					top:70%;
				}

				&:nth-child(7) {
					left:22%;
					top:69%;
					top:82%;
				}

				&:nth-child(8) {
					left:0%;
					top:74%;
					top:90%;
				}

				&:nth-child(9) {
					left:-16%;
					top:60%;
				}
			}
		}


		// Byxor

		&#features_hybrid {
			li {
				left:80%;
				top:3%;
				//top:3vh;

				&:nth-child(2) {
					left:78%;
					top:26%;
					//top:22vh;
				}

				&:nth-child(3) {
					left:76%;
					top:41%;
					//top:34vh;
				}

				&:nth-child(4) {
					left:80%;
					top:52%;
					//top:44vh;
				}

				&:nth-child(5) {
					left:75%;
					top:78%;
					//top:65vh;
				}

				&:nth-child(6) {
					left:-4%;
					top:10%;
					//top:10vh;
				}

				&:nth-child(7) {
					left:-6%;
					top:26%;
					//top:22vh;
				}

				&:nth-child(8) {
					left:0%;
					top:37%;
					//top:32vh;
				}

				&:nth-child(9) {
					left:3%;
					top:63%;
					//top:56vh;
				}
				&:nth-child(10) {
					left:13%;
					top:78%;
					//top:70vh;
				}
			}
		}

		&#features_hybrid_stretch {
			li {
				left:80%;
				top:10%;

				&:nth-child(2) {
					left:79%;
					top:20%;
				}

				&:nth-child(3) {
					left:77%;
					top:31%;
				}

				&:nth-child(4) {
					left:80%;
					top:48%;
				}

				&:nth-child(5) {
					left:76%;
					top:58%;
				}

				&:nth-child(6) {
					left:76%;
					top:69%;
				}
				&:nth-child(7) {
					left:-3%;
					top:12%;
				}

				&:nth-child(8) {
					left:-2%;
					top:30%;
				}

				&:nth-child(9) {
					left:9%;
					top:38%;
				}

				&:nth-child(10) {
					left:-3%;
					top:55%;
				}

				&:nth-child(11) {
					left:1%;
					top:72%;
				}

				&:nth-child(12) {
					left:0%;
					top:80%;
				}
			}
		}

		&#features_solid {
			li {
				left:-5%;
				top:15%;

				&:nth-child(2) {
					left:-5%;
					top:33%;
				}

				&:nth-child(3) {
					left:2%;
					top:52%;
				}

				&:nth-child(4) {
					left:83%;
					top:30%;
				}

				&:nth-child(5) {
					left:80%;
					top:50%;
				}

				&:nth-child(6) {
					left:69%;
					top:75%;
				}
			}
		}

		&#features_waterproof {
			li {
				left:78%;
				top:11%;

				&:nth-child(2) {
					left:79%;
					top:27%;
				}

				&:nth-child(3) {
					left:-4%;
					top:26%;
				}

				&:nth-child(4) {
					// left:86%;
					// top:42%;
					left:-2%;
					top:64%;
				}

				&:nth-child(5) {
					left:80%;
					top:52%;
				}

				&:nth-child(6) {
					left:-2%;
					top:49%;
				}

				&:nth-child(7) {
					left:72%;
					top:72%;
				}

				&:nth-child(8) {
					left:5%;
					top:83%;
				}
			}
		}


	}


  @media screen and (min-width:$landscape){

    .pants & {
      max-height:950px;
    }
	}

  @media screen and (min-width:$xl){
		font-size: 1em;

    .pants & {
      max-height: 95vh;
      top: 5vh;
      height: 100%;
    }

	}

}
