
.flip-it {
  //perspective:50vw;
  //perspective:25vw;
  //width:30vw;
  margin-left:auto;
  margin-right:auto;
  overflow:visible !important;
  width: auto;
  position: relative;
  overflow:hidden;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  z-index:1;

  .hidden-content {
    display: none;
  }

  &:focus, &:active {
    z-index: 100;

    .flip-it__obj {
      transition: all .3s linear !important;
      box-shadow:0 30px 40px -10px rgba(50,50,50,0.2) !important;

    }

    .hidden-content {
      display: block;
    }

  }
}


.flip-it__obj {
  transform-style: preserve-3d;
  /*transform: rotateY(5deg);*/
  width:100%;
  transition:all 0.4s cubic-bezier(0.770, 0.000, 0.175, 1.000) .01s ;
  transition:all 0.4s linear .01s ;
  box-shadow:0 30px 40px -2px rgba(50,50,50,0.2);
  position: relative;
  z-index: 1;
  background:#fff;

  &:hover {
    transition: all .2s ease ;
    box-shadow:0 30px 40px -10px rgba(50,50,50,0.2);
    box-shadow:0 30px 40px 10px rgba(50,50,50,0.2);
  }

  &.reverse {
    /*transform: rotateY(-5deg);*/

  }
}


figure.flip-it {

  > img {
    box-shadow: inset 4px 4px 10px 20px red;
  }

  > img[src*=".png"] {
    box-shadow: none !important;
    background: none !important;
  }

  // &:after {
  //   content:"";
  //   display:block;
  //   position: absolute;
  //   top:0;
  //   left:0;
  //   right:0;
  //   bottom:0;
  //   z-index:2;
  //   //width:150%;
  //   //height:150%;
  //   background: linear-gradient(135deg, rgba(255,255,255,.6) 0%,rgba(255,255,255,0) 50%);
  //   background: radial-gradient(ellipse at center, rgba(255,255,255,.1) 0%,rgba(255,255,255,0) 80%);
  //   background: radial-gradient(ellipse at center, rgba(255,255,255,.3) 0%,rgba(255,255,255,0) 80%);
  //   background-repeat:no-repeat;
  //   //background-position:150px 150px;
  //   pointer-events:none;
  //   transition:all .4s linear;
  //   opacity:0;
  //   width:80%;
  //   height:100%;
  //   margin:auto;
  // }

  &:after {
    width:100%;
    height: 100%;
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:2;
    display: block;
    pointer-events: none;
    background: radial-gradient(ellipse at center, rgba(255,255,255,.2) 0%,rgba(255,255,255,0) 80%);
    background-repeat:no-repeat;
    background-position:center center;
    transition:all .4s linear;
    filter:blur(20px);
    opacity: 0;

  }

  &:hover:after {
    opacity:.6;
  }

  // &.bottom-left:hover:after {
  //   //background-position:150px -150px;
  //   top:-50%;
  //   left:50%;
  // }
  //
  // &.bottom-right:hover:after {
  //   //background-position:-150px -150px;
  //   top:-50%;
  //   right:50%;
  // }
  //
  // &.top-right:hover:after {
  //   //background-position:-150px 150px;
  //   bottom:-50%;
  //   right:50%;
  // }
  //
  // &.top-left:hover:after {
  //   bottom:-50%;
  //   left:50%;
  // }

  &.bottom-left:hover:after {
    background-position:150px -150px;

  }

  &.bottom-right:hover:after {
    background-position:-150px -150px;
  }

  &.top-right:hover:after {
    background-position:-150px 150px;
  }

  &.top-left:hover:after {
    background-position:150px 150px;

  }

}
