
.layers{
  position: relative;

  .layered {
    position: relative;

    // @media screen and (max-width: $portrait - 1) {
    @media screen and (max-width: $landscape - 1) {
      max-height: 150px;
      display: none;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  h2 {
		color: #fff;
		font-size: 2rem;
		padding-bottom: 1rem;
		margin-bottom: 0;
		padding: 180px 40px;
		padding:40vh 40px;
		text-align:center;
		z-index:100;

		@media screen and (min-width: $portrait) {
			font-size: 10rem;
			font-size:8vw;
		}

	}

  @media screen and (min-width: $portrait) {
    overflow: visible !important;
    //perspective: $parallax-perspective * 1px;
    //transform-style: preserve-3d;

    background-attachment: fixed !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    //overflow: hidden;
    min-height: 100vh;

    .touch-device & {
    	background-attachment:initial !important;
      min-height: 100vh !important;
    }

    figure{
      padding: 0;
      margin: 0;
      width: 35%;
      max-width:600px;
      max-height:500px;
      overflow:hidden;
      z-index:99;

      .black-ice & {

        img {
        	max-width:80%;
          margin: auto;
          width: auto;
          max-height: 600px;
          height: auto;
        }
      }

      .pants & {
      	//max-width:200px;
        //max-height: none;

        img {
          height: auto;
          width:100%;
        }
      }

      img{
        width: 100%;
        width: auto;
        height: 100%;
        transition:all .8s linear .3s;
      }

      &:hover {

        img {
          transform:scale(1.1);
        }

      }
    }

    .layered {
      //transition:all .3s linear 0s;
      position: absolute;
      z-index:995;

      &:nth-of-type(3n){
        right:5%;
      }

      &:nth-of-type(3n+1){
        left:8%;

      }

      &:nth-of-type(3n+2){
        right:5%;

      }

      &:nth-of-type(3n+3){
        left:45%;

      }

      &.active {

        img {
          transform:scale(1.1);
        }

      }

    }

  	p {
  		z-index:100;
  	}
  }

  @media screen and (min-width: $xl) {

    figure {
      width: 45%;
    }

  }
}
