

.movement-layers {
	padding: 0;
	margin: 0;
	width: 115%;
	height: 120vh;
	overflow: hidden;
	position: relative;


}

.layer {
    width: 110%;
    height: 120vh;
    height: 100vh;
    //overflow: hidden;

		display:flex;
		flex-wrap:wrap;
		flex-direction:row;
		justify-content: center;
		align-items: center;
}

/* .layer3 {
    background-image: url(../img/boot.png);
    background-size: contain;
    background-position: top;
    background-repeat:no-repeat;
    position: absolute;
    width: 30%;
    height: 100%;
    left: -5%;
    bottom: -60%;
}

.layer2 {
    background-image: url(../img/boot.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 40%;
    height: 100%;
    right: -5%;
    bottom: -30%;
}
 */
.layer1, .layer img {
    background-image: url(../img/move_bg.jpg);
    background-position: center !important;
    background-size: cover !important;

		//position: absolute;

    @media screen and (min-width:$portrait){
			position: absolute;
	    // width: 120%;
	    min-width: 120%;
	    min-height: 105%;
	    left: -10%;
	    right: -10%;
	    top: -2%;


	}


}

.layer img {
	@media screen and (min-width:$portrait) and (max-width:$landscape - 1){
		width: auto;
	}
}

@media (max-width:700px) {
    .layer2 {
        background-size: cover !important;
        background-position: center !important;
        width: 167%;
        height: 77vh;
        left: -69%;
        top: 27%;
    }

    .layer1 {
        background-position: center !important;
        background-size: cover !important;
        width: auto;
        min-width:100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    /* .movement-layers .layer img {
        width: 180px;
        height: auto;
    } */
}
