

#top-menu {
  @media screen and (max-width:$landscape){
    display:none;
  }
}

nav.fixed-top {
  position: fixed;
  left:0;
  right:0;
  top:132px;
  top:83px;

  z-index:996;

  .content-wrapper {
    transform: translateY(0px);
    transition:all .4s linear;
    background:#000;
    background:rgba(0,0,0,0.85);
    width:100%;

    .hide-nav & {
      transform: translateY(-200px);
      transition:all .4s linear 0.8s;
    }

    &:hover {
      background:rgba(0,0,0,1);
    }
  }

  ul {
    @include flex-layout();
    //max-width:700px;
    margin: auto;
    list-style: none;
    padding:$padding/4 0;
    //padding:0;
    transition:all .2s linear .4s;
    opacity: 1;

    &:hover {
      padding:($padding - 1) 0;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hide-nav & {
      transition:all .2s linear 0.6s;
      opacity: 0;
    }

    a {
      font-family: 'Lundhags Title', helvetica, _sans;
      padding:$padding/4 $padding/2;
      padding:$padding/2 $padding/2;
      padding-right: $padding/4;
      padding-right: 0;
      display:block;
      text-transform: uppercase;
      color:#fff;
      transition:all .2s linear 0s;
      font-size:1rem;
      letter-spacing: 2px;
      //border-right: 1px solid $primary-color;

      @media screen and (min-width:$desktop){
        font-size:1.3rem;
      }

      &:after {
        width: 1px;
        height:13px;
        margin: auto;
        content: "";
        background:$primary-color;
        background:$ice-red;
        display: inline-block;
        margin-left: $padding/2;
      }

      &:hover, &.active {
        color: $ice-red;
      }

      // &.active {
      //   padding:$padding/2 $padding;
      //   padding-right: $padding/4;
      //
      //   &:after {
      //     margin-left: $padding;
      //   }
      // }

    }

    li:last-of-type a {
      border:0;

      &:after {
        display: none;
      }
    }
  }

  @media screen and (max-width:$portrait - 1){
    display: none;
  }

  @media screen and (min-width:$desktop){
    top:0;
  }
}
