
// .products {
//
// 	@media screen and (min-width:$portrait){
//
// 		article:nth-of-type(even){
//
// 			.product.stretch {
// 				@include flex-layout($dir:row);
// 			}
//
// 			.product {
// 				flex-direction:row-reverse;
// 			}
// 		}
// 	}
// }

.product__wrapper__text {
	max-width:500px;
	text-align:center;
	padding-top:$padding*2;
	margin:auto;

	h1 {
		margin-bottom:0;
	}
}

.product {
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	width:100%;
	justify-content:center;
	align-items:center;

	.heritage & {
		padding-bottom:10vh;
		padding:10vh 0;
	}

	&.big {
		overflow:visible;
		min-height:0;
		padding:$padding;
		padding-bottom:$padding*3;

		margin-bottom:7%;

		figure {
			margin-left: auto;
			margin-right: auto;
		}

		&:last-child {
			margin-bottom:0;
			margin-bottom:10%;
		}


		> * {
			margin:auto;
		}

		.product__wrapper {
			//transform: matrix(0.9, 0, 0, 0.9, 0, 20);
			transform: matrix(1, 0, 0, 1, 0, 20);
			opacity: 1;
			margin-top:-5%;
			//z-index:999;
			max-width:70%;
		}

		img {
			max-width:none;
			max-width:700px;
			margin: auto;
		}

		.product__wrapper__text {
			max-width:600px;
		}


	}

	&.fade-in {

		.product__wrapper {
			transform: matrix(1, 0, 0, 1, 0, 0);
			margin-top:-7%;
		}
	}

	img {
		width:100%;
		height:auto;
		max-width:600px;
		max-width:35vw;
		max-width:90vw;
	}

	@media screen and (min-width:$portrait){
		//flex-direction:row;

		> * {
			flex:1;
			margin:2%;
		}


	}

	@media screen and (min-width:$landscape){

		img {
			max-width:25vw;
		}

		&.stretch {
			@include flex-layout($dir:row);

			figure {
				max-width:25vw;

				img {
					width: 140%;
					max-width:none;
					margin-right: -40%;
				}
			}
		}

		article:nth-of-type(odd) &
		{
			&.stretch {
				flex-direction:row-reverse;

				figure {

					img {
						margin-left: -40%;
					}
				}
			}

		}
	}
}

.text-block {
	//border:2px solid #fff;
	padding:$padding*2 $padding;
	max-width:600px;
	max-width:500px;
	position: relative;
	margin:$padding*2 $padding;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ffffff+50,ffffff+100&0+25,0.05+50,0+75 */
	background: -moz-linear-gradient(45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0) 75%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0.05) 50%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0.05) 50%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

background-position: 900px 0;
background-repeat: no-repeat;


	h1 {
		margin-bottom:0.2em;
		//margin-top:0.5em;
		font-size:2rem;
	}

	> *:last-child {
		margin-bottom:0;
	}



	&:before, &:after {
		content:"";
		display:block;
		pointer-events:none;
		//background:red;
		position: absolute;
		height:100%;
		max-height:0;
		width:100%;
		max-width:0;
	}

	&:before {
		top:0;
		left:0;
		border-top:4px solid #fff;
		border-right:4px solid #fff;
		transition:max-width .2s linear 1.4s, max-height .2s linear 1.2s;
		//transition:max-width .2s linear .8s, max-height .2s linear 1s;
	}

	&:after {
		bottom:0;
		right:0;
		border-bottom:4px solid #fff;
		border-left:4px solid #fff;
		transition:max-width .2s linear 1s, max-height .2s linear .8s;
		//transition:max-width .2s linear 1.2s, max-height .2s linear 1.4s;
	}

	.hit & {

		//background-position: 00px 0;

		//background-position: -900px 0;
		//background-repeat: no-repeat;

		animation-name: shineBg;
		animation-delay: 1.6s;
		animation-duration: 1s;
		animation-iteration-count: 1;

		&:before {
			//transition:max-width .4s linear 1.2s, max-height .4s linear 1.6s;
			transition:max-width .2s linear .8s, max-height .2s linear 1s;
		}

		&:after {
			//transition:max-width .4s linear 1.2s, max-height .4s linear 1.6s;
			transition:max-width .2s linear 1.2s, max-height .2s linear 1.4s;
		}

		&:before, &:after {
			max-height:600px;
			max-width:600px;
		}
	}

	article:nth-child(odd) .product & {
		&:before {
			left:auto;
			top:auto;
			bottom:0;
			right:0;
		}

		&:after {
			top:0;
			left:0;
			bottom:auto;
			right:auto;
		}
	}

	article.hit:nth-child(odd) .product & {
		&:before {
			//transition:max-width .4s linear 1.2s, max-height .4s linear 1.6s;
			transition:max-width .2s linear .8s, max-height .2s linear 1s;
			transition:max-width .2s linear 1.4s, max-height .2s linear 1.2s;
		}

		&:after {
			//transition:max-width .4s linear 1.2s, max-height .4s linear 1.6s;
			transition:max-width .2s linear 1.2s, max-height .2s linear 1.4s;
			transition:max-width .2s linear 1s, max-height .2s linear .8s;
		}
	}

	@media screen and (min-width:$portrait){
		padding:$padding*2;
		margin: $padding*2 0;
	}

	@media screen and (min-width:$xl){
		padding:$padding*3;
		margin:0;

		h1 {
			font-size: 3rem;
		}
	}
}
