


.ice-effect {

	&:before, &:after {
		content:"";
		display:block;
		width:100%;
		height:25vh;
		position: absolute;
		//transform:rotate(-20deg);
		transition:all .4s ease .8s;
		transition:all .4s ease 0s;
		//background:#fff;
		z-index:10;

		width: 0;
		height: 0;
		border-style: solid;
	}

	&:before {
		top:-100%;
		left:-100%;


		border-width:20vw 40vw 0 0;
		border-color: #fff transparent transparent transparent;
	}

	&:after {
		bottom:-100%;
		right:-100%;

		border-width: 0 0 20vw 40vw;
		border-color: transparent transparent #ffffff transparent;
	}

	&.hit {

		&:before {
			top:-15%;
			top:-130px;
			left:-40%;

			top:0;
			left: 0;
		}

		&:after {
			bottom:-15%;
			bottom:-130px;
			right:-40%;

			bottom: 0;
			right:0;
		}

		@media screen and (min-width:$portrait){

			// &:before {
			// 	top:-15%;
			// 	top:-180px;
			// 	left:-40%;
			// }
			//
			// &:after {
			// 	bottom:-15%;
			// 	bottom:-180px;
			// 	right:-40%;
			// }

		}

		@media screen and (min-width:$landscape){

			// &:before, &:after {
			// 	height:35vh;
			// }
			//
			// &:before {
			// 	top:0%;
			// 	top:-8%;
			// 	left:-50%;
			// }
			//
			// &:after {
			// 	bottom:0%;
			// 	bottom:-8%;
			// 	right:-50%;
			// }

		}

	}


}

.red-ice {

	&:after {
		content:"";
		display:block;
		width:100vh;
		height:100vh;
		position: absolute;
		//transform:rotate(-45deg);
		transition:all .4s ease .8s;
		transition:all .4s ease 0s;
		//background:rgba($primary-color,.5);
		//background:rgba($ice-red,.5);
		z-index:10;

		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 100vh 100vw;
		border-color: transparent transparent rgba($ice-red,.5) transparent;
	}

	&:after {
		bottom:-100%;
		right:-100%;
	}

	&.hit {

		&:after {
			bottom:-50%;
			right:-95%;

			bottom: 0;
			right: 0;
		}

		// @media screen and (min-width:$portrait){
		//
		// 	&:after {
		// 		bottom: -50%;
		// 		right: -70%;
		// 		width: 100vh;
		// 		height: 100vh;
		// 	}
		//
		// }
		//
		// @media screen and (min-width:$landscape){
		//
		// 	&:after {
		// 		bottom:-30%;
		// 		right:-40%;
		//
		// 		width:120%;
		// 		height:100vh;
		// 	}
		//
		// }

	}

}

.shine-effect {

	&:after {
		content:"";
		display:block;
		width:100vh;
		height:100vh;
		position: absolute;
		transition:all .4s ease .8s;
		transition:all .4s ease 0s;
		background:rgba($primary-color,.5);
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+40,0.35+100 */
		background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0.35) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,0.35) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,0.35) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#59ffffff',GradientType=1 ); /* IE6-9 */

		z-index:10;

		top:0%;
		bottom:0;
		right:0%;
		opacity: 0;
		height:100%;
		width: 100%;
		left:0;
	}

	&.hit {

		&:after {
			top:0%;
			right:0%;
			opacity: 1;
		}

		@media screen and (min-width:$portrait){

			// &:after {
			// 	top: -50%;
			// 	right: -70%;
			// 	width: 100vh;
			// 	height: 100vh;
			// }

		}

		@media screen and (min-width:$landscape){

			// &:after {
			// 	top:-30%;
			// 	right:-40%;
			//
			// 	width:120%;
			// 	height:100vh;
			// }

		}

	}

}

[scroll-bg]{

	.touch-device & {
		transition: all .1s linear 0s;
	}
}


[zoom-in] {
	height:200vh;
	height:120vh;
	//height:100vh;

	> * {
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	.black-ice & {
		height:100vh;
	}

	@media screen and (orientation:portrait) and (min-width:$portrait){
		height:150vh;

		[scroll-bg]{
			min-height:100%;
		}
	}

	[scroll-bg]{
		position: absolute;
		top:0;
		left:0;
		right:0;
		margin:auto;
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
		align-items:center;
		transform:scale(0.5);
		transform:scale(1.0);
		bottom:0;

		min-width:100%;

		left:50%;
		margin-left: -800px;

		// blackice
		//min-height:100%;
	transform-origin: top;
		@media screen and (min-width:$portrait){
			min-height:100%;

			left: initial;
			right: initial;

			left:50%;
			margin-left: -800px;
		}

		@media screen and (min-width:1600px){
			left:0;
			right: 0;
			margin-left: 0;
		}
	}

	figure, video {
		position:absolute;
		top:0;
		left:0;
		right:0;
		height:100vh;



		@include flex-layout($wrap:nowrap);
		//display: block;

		//width: 50%;
		margin:auto;
	}

	&.top-hit [scroll-bg]{
		position: fixed;
		top:0;
		left:0;
		right:0;
	}
}

[scroll-point]{
	display:flex;
	flex-wrap:wrap;
	//-webkit-filter:blur(5px);
  	//transform:scale(1.1);
	background:#fff;
	background:$bg-color;
	position: relative;
	min-height:100vh;
	//min-height:calc(100vw * 0.5);

	//min-height:80vh;
	transition:all 1s cubic-bezier(0.680, -0.550, 0.265, 1.550);

	overflow:hidden;

	&.small {
		min-height: 50vh;
		height: 70vh;
	}

	&.fixed-vh {
		height: 100vh;
	}

	&.dark-bg {
		background:url('../img/boots/nextgenbg.jpg') no-repeat;
		background-size: cover;
	}


	.black-ice & {
	    //background:$bg-color;
	}

	.heritage & {
	    background:none !important;
			min-height:70vh;

	}


	.touch-device & {

		@media screen and (orientation:portrait){
			min-height:0;
			//min-height:80vh;

		}

	}


	[scroll-img]{
		width:100%;
		height:200vh;
		height:150vh;
		padding:$padding*2;
		padding:0;
		background:#a3a098;
		text-align:center;
		overflow:hidden;
		display:flex;
		justify-content:center;
		align-items:center;

		img {
			width:auto;
			min-height:80%;
			min-height:100%;
		}

		/* .touch-device & {

			@media screen and (orientation:portrait){
				height:100vh;
			}
		} */

		@media screen and (min-width:$portrait){
			width:50%;
		}
	}

	[fixed-content]{
		position: absolute;
		right:0;
		top:0;

		height:100vh;
		padding:20px;

		p {
			max-width: 500px;
		}


		*:not(a) {
			color:#fff !important;
		}


		@media screen and (min-width:$portrait){
			padding:0 $padding;

			*:not(a) {
				color:#000 !important;
			}
		}

		@media screen and (min-width:$desktop){
			padding:0;
		}


	}

	&.top-hit {
		//-webkit-filter:blur(0px);
  		//transform:scale(1.0);

		[fixed-content]{
			//position: fixed !important;
			position: fixed;
		}

		&.stop {
			[fixed-content]{
				position: absolute;
				top:auto;
				bottom:0;
				//margin-top: auto;
				//margin-bottom: 25vh;
			}
		}

		/* &.multiple {
			position: fixed;
			top:0;
			height:100vh;
			width:100vw;

		} */
	}
}

[scroll-point-bottom]{
	background:#fff;

	> * {
		//z-index:10;
		transition:all 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
		transition-delay:0s;
		transform: matrix(.9, 0, 0, .9, 0, 20);
		opacity:0;
		//z-index:100;
		position: relative;
	}

	&.fade-in > *{
		transform: matrix(1, 0, 0, 1, 0, 0);
		opacity:1;
	}
}

[scroll-content] {

	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:center;
	width:100%;

	/* [scroll-content]{ */

		> *:not(.hotspots) {
			transition:all 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
			transition-delay:0s;
			transform: matrix(1, 0, 0, 1, 0, 20);
			opacity:0;
		}

		/* > .title {
			transform: matrix(1, 0, 0, 1, 0, 30);
		} */
	/* } */

	&.hit, .hit & {
		/* [scroll-content]{ */


			> *:not(.hotspots) {
				transform: matrix(1, 0, 0, 1, 0, 0);
				transition-delay:0s;
				opacity:1;
			}

			/* > .title {
				transform: matrix(1, 0, 0, 1, 0, 0);
				transition:all 0.8s cubic-bezier(0.770, 0.000, 0.175, 1.000);
				transition-delay:0s;
			} */
		/* } */
	}
}







[fixed-img] {
	background-size:cover !important;
}



.multiple {
	background:#f5f5f5;
	background:#f2f2f2;
	z-index:10;
	position: relative;
	transition:all 0.8s cubic-bezier(0.770, 0.000, 0.175, 1.000);

	[scroll-point] {
		background:none;
		/* z-index:1;

		&:first-of-type [fixed-img]{
			position: absolute;
		}

		&:first-of-type {
			z-index:0;
		}

		&:last-of-type {
			z-index:1;
		} */
	}


	&.darken {

		background:#fff;

	}

	.mozaik {
		height:100vh;
		width:100vw;
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
		align-items:center;

		[fixed-img]{
			background-attachment:fixed !important;
			background-position: 0 center !important;
	    background-size: 50% !important;
	    background-repeat: no-repeat !important;


		}

		.black-ice & {
			[fixed-img]{
				background-attachment:initial !important;
				background-size: cover !important;
			}
		}

		.touch-device & {

			@media screen and (orientation:portrait){
				height:auto;

				[fixed-img]{
					height:50vh;
				}
			}
		}


	}

	// iPad layout

	.touch-device & {

		article {
			&:nth-of-type(even) .mozaik {
				flex-direction:row-reverse;
			}
		}

		.mozaik {
			[fixed-img]{
				background-attachment:initial !important;
				position: relative;
				background-position: center !important;
		    background-size: cover !important;
			}

			.multiple-content {
				position: relative;
			}

		}
	}



	.multiple-content {
		width:100%;
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
		align-items:center;
		background:none;
		position: absolute;
		right: 0;
		padding:$padding*2;
		text-align:center;

		top:0;
		bottom:0;

		> div {
			max-width:550px;
		}

		@media screen and (min-width:$portrait){
			width:50%;
		}
	}

	//[scroll-img]{
	[fixed-img]{
		//position: fixed;
		left:0;
		height:100vh;
		width:100%;
		display:flex;

		img {
			width:75%;
			margin:auto;
		}

		@media screen and (min-width:$portrait){
			width:50%;
		}
	}

	.top-hit {
		//[scroll-img][fixed-content]{
		[fixed-img][fixed-content]{
			z-index:-1;
			z-index:0;
		}
		/* + [fixed-img][fixed-content]{
			z-index:1;
		} */
	}

	~ {
		[scroll-point] {
			z-index:10;
		}

	}
}




.flex-content {
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:center;
	align-items:center;

	header, .fill {
		width:100%;
		display:flex;
		flex-wrap:wrap;
		flex-direction:row;
		justify-content:center;
		align-items:center;
	}

	.flex-content__item {
		width:50%;
		padding:$padding;
		display:flex;
		flex-wrap:wrap;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		align-self:baseline;

		img {
			max-height:95px;
			margin-bottom:$padding;
			max-width:100%;
		}
	}

	@media screen and (min-width:$portrait){
		.flex-content__item {
			width:33%;
			width:calc(100%/3);
			padding:$padding;

			img {
				max-height:200px;
			}
		}
	}

	@media screen and (min-width:$landscape){
		.flex-content__item {
			width:25%;
			width:calc(100%/4);
			padding:$padding;
		}
	}
}

.kit {
	background:#000;
	position: relative;
	text-align: center;
	/* opacity:0;



	&.fade-in {
		opacity:1;
	} */

	a {
		margin:$padding*2 auto 0;
		width: auto;
		display:block;
	}

	.wrapper {
		@media screen and (min-width:$landscape){
			max-width:75%;
			margin:auto;
			padding:0 $padding;
		}
	}

	header {
		@include flex-layout($dir:column);
	}

	[scroll-point]{
		background:#000;
		padding:$padding*2 $padding;

		&:after {
			content:"keep scrolling";
			position: absolute;
			top: 5vh;
			left:0;
			right:0;

			@extend .fa;
			content:"\f0d7";
			color:$primary-color;
			width:100%;
			display:block;
			text-align:center;

			display: none;

			transition:opacity .4s ease;

			-webkit-animation-name: upNdown;
		    animation-name: upNdown;

		    -webkit-animation-delay: 0s;
		    animation-delay: 0s;

		    -webkit-animation-duration: 2s;
		    animation-duration: 2s;

		    -webkit-animation-iteration-count: infinite;
		    animation-iteration-count: infinite;

				.black-ice & {
					color: $ice-red;
				}

		}

		&.hit {
			&:after {
				-webkit-animation-iteration-count: 1;
			    animation-iteration-count: 1;

			    opacity:0;
			}
		}

		h1, h2, h3, h4 {
			color:#fff !important;
		}

		@media screen and (min-width:$portrait){
			padding:$padding*4 $padding;
		}
	}


}

.stuck {
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	height:100%;
	width: 100%;
    min-height: 100vh;
    min-width: 100vw;
	display:none;

    @media screen and (min-width:$portrait){
    	display:block;
    }
}
