.slider {

	position: relative;
	width:100%;
	cursor: grab;
	min-height:0;

	img {
	 	outline:none;
	 	width: 100% !important;

	 	@media screen and (min-width: $portrait) {
	 		width:auto !important;
			min-width:100%;
	 	}
	}

	.item {
		position: relative;
		width:100%;
		outline:none;
		

		img {
			margin-left:auto;
			margin-right:auto;
			outline:none;

			min-height: 0;
		}

		.text-content {
			@media screen and (max-width: $portrait - 1 ) {
				position: relative;

				*:not(a) {
					color:#000;
				}
			}
		}

	}
}



.slick-arrow {
	position: absolute;
	top:0;
	bottom:50%;
	margin:auto;
	z-index:1;
	height: 50px;
	width:40px;
	font-size:25px;
	color:$primary-color;
	border:0;
	cursor:pointer;
	transition:all .2s ease-in-out;
	//transform: scale(0.8);

	.hit & {
		animation: pulse 1s 1s 1;
		animation-delay: 2s;
	}


	&:before {
		position:absolute;
		transition:all .2s ease-in-out;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:auto;
		line-height:1;
		text-align:center;
	}

	&:hover {

		&:before {
			-webkit-transform: scale(1.1);
			-ms-transform: scale(1.1);
			-o-transform: scale(1.1);
			transform: scale(1.1);

		}
	}

	@media screen and (min-width: $portrait) {
		bottom:0;
		width:40px;
		font-size:4rem;
	}
}



.slick-prev {
	@extend .fa;
	left:20px;
	z-index: 20000;

	&:before {
		content:"\f104";
		margin-left:-4px;
	}

	@media screen and (min-width: $portrait) {
		left:40px;
	}
}

.slick-next {
	@extend .fa;
	right:20px;
	z-index: 20000;

	&:before {
		content:"\f105";
		margin-right:-4px;
	}

	@media screen and (min-width: $portrait) {
		right:40px;
	}
}


.slick-dots {
	list-style: none;
	padding:0;
	//margin:-$padding*2 auto 0;
	text-align:center;
	left:0;
	right:0;
	bottom:0;
	z-index:10;

	li {
		display:inline-block;
		margin: 0 $padding/4;

		button {
			background:#000;
			color:#000;
			border-radius:50%;
			width:10px;
			height:10px;
			text-indent:-999999px;
			border:none;
			padding:0;
			cursor:pointer;
			position: relative;
			outline:none;

			/* &:before {
				position:absolute;
				top:0;
				bottom:0;
				left:0;
				right:0;
				content:"";

				border-radius:50%;
				width:7px;
				height:7px;
				margin:auto;
			} */

			&:hover {

			}
		}

		&.slick-active {
			button {
				background:$primary-color;
				color:#fff;

				&:before {
					background:#fff;
				}
			}
		}
	}

	@media screen and (min-width: $portrait) {
		position: absolute;
	}

}
