.text-content {
	position:absolute;
	/* top:0;
	bottom:0;
	left:0;
	right:0; */
	margin:auto;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	//max-width:900px;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	color:#fff;
	z-index:100;

	//position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;

  padding:$padding;

	.page-footer & {
		@media screen and (max-width: $portrait - 1) and (-webkit-device-pixel-ratio: 2) {
			position: relative;
			margin-bottom:$padding*5;
		}
	}

  // > *:not(.title) {
  //   padding:20px;
  //
  //   @media screen and (min-width:$portrait){
  //     padding:0;
  //   }
  // }

	&.features-wrapper {
		position: relative;
    padding:0;

    @media screen and (min-width: $landscape) {
			height: 80vh;

			.pants & {
				height: 100%;
			}

    }

		@media screen and (min-width: $xl) {
      height: 80vh;

			.pants & {
				height: 90%;
				height: 100%;
			}
    }
	}

  > img {
    margin-bottom: $padding;
  }

  h1,h2,h3,h4 {
    max-width:95%;
		margin-left:auto;
		margin-right:auto;

		@media screen and (min-width: $portrait) {
			max-width:80%;
		}
  }

	p {
		max-width:620px;
		margin-left:auto;
		margin-right:auto;
	}

	.fixed-text {
		max-width:600px;

		position: absolute;
		bottom:7%;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
    width: 95%;

		.slider & {
			position: relative;
		}

		&:only-child {
			//margin-left:5vw;
			//margin-bottom:-100%;
		}

    @media screen and (min-width: $portrait) {
      width: 100%;
    }
	}

	@media screen and (min-width:$landscape){
		&.features-wrapper {
			position: absolute;
		}
	}
}
