
<style>
@media screen and (max-width:400px){
	.bg-50 {
		margin-left:200vw;
	}
}
</style>

<section class="theme-page">

	<article class="product-banner">

		<div class="product-banner__content">

      <figure><img src="/img/{{ page.product_img }}" alt=""></figure>
      <div>
        <h1>{{ page.product_title }}</h1>
  			<p>{{ page.product_text }}</p>
        <a href="{{ page.product_link }}">Gå till produkt</a>
      </div>
		</div>

	</article>



	<article scroll-point class="light-color align-center">

		<figure><img class="bg bg-50" src="/img/85split.jpg" alt="" style=""></figure>
		<!-- <img class="stuck" src="/img/blackice/skaters.png" alt=""> -->

		<div class="text-content" scroll-content>
			<h1 class="title large">85</h1>

			<p>Ålder är bara en siffra. Men har man varit med sedan 1932, finns det onekligen mycket att blicka tillbaka på. Längs vägen har stora och små upplevelser passerat och blivit till erfarenheter. Därför tycker vi att alla 85-åringar är värda att hyllas. Eftersom vi har hållit på med kängtillverkning i 85 år, är vår hyllning en alldeles speciell känga. Anniversary 85 är med sin tidlösa form och den senaste teknologin en blandning av nu och då. Modellen är utformad för att vara en riktig trotjänare som tål den skandinaviska terräng där vi har våra rötter.</p>
			<!-- <p>
85 års erfarenhet av kängtillverkning är värt att hylla. Det vill vi göra med en alldeles speciell känga som knyter samman historia och nutid.</p> -->
		</div>

	</article>



  <article scroll-point scroll-point-bottom class="light-color align-center" style="min-height:0;flex-direction:column;" >

		<div class="text-content" scroll-content>

			<quoteblock>Alla kängor bär på en historia</quoteblock>
		</div>

        <!-- <div class="movement-layers">
          <div class="layer" data-depth="0.1"><img src="/img/lundhags_85_2.jpg" alt=""></div>
        </div> -->
				<!-- <img src="/img/lundhags_85_2.jpg" alt="" style="min-height:0;min-width:100vw;"> -->
				<figure><img class="bg bg-50" src="/img/lundhags_85_2.jpg" alt=""></figure>




	</article>


	<article scroll-point scroll-point-bottom class="product big">
    <div class="product__wrapper">
  	  <figure><img src="/img/{{ page.product_img }}" alt=""></figure>
      <div class="product__wrapper__text">
        <h1>{{ page.product_title }}</h1>
        <!-- <p>{{ page.product_text }}</p> -->
        <p>Anniversary 85 är en mångsidig och slittålig känga för dig som vill ha en tidlös trotjänare av högsta kvalitet. Det kraftfulla skaftet är uppbyggt av tre lager med egenskaper som gör kängan både tålig, mjuk, stabil och komfortabel.</p>
        <a href="{{ page.product_link }}">Gå till produkt</a>
      </div>
    </div>
	</article>


</section>
