
<style>

	.title.large {
		font-size: calc(2rem + 2vw);
	}

	@media screen and (min-width:1024px){
		.title.large {
			font-size: calc(2rem + 4vw);
		}
	}

	@media screen and (max-width:500px){
		.title.large {
			font-size: 2rem;
			letter-spacing: 3px;
		}
	}

</style>

<section class="theme-page">

	<article class="product-banner">

    <div class="product-banner__content">

      <figure><img src="/img/{{page.product_img}}" alt=""></figure>
      <div>
        <h1>{{ page.product_title }}</h1>
  			<p>{{ page.product_text }}
					<br>Bjänn finns att köpa hos Naturkompaniet och utvalda Lundhagsbutiker.
				</p>
        <a href="{{ page.product_link }}">Gå till produkt</a>
      </div>

		</div>

	</article>



	<article scroll-point class="light-color align-center">

		<figure><img class="bg" src="/img/naturkompanietbild1.jpg" alt="" ></figure>
		<!-- <img class="stuck" src="/img/blackice/skaters.png" alt=""> -->

		<div class="text-content" scroll-content>
			<h1 class="title large">Lundhags &<br/>Naturkompaniet</h1>

			<p>I ett samarbete mellan Naturkompaniet och Lundhags tillverkas denna känga delvis med spillmaterial från Lundhags egna fabrik i Järpen i Jämtland. En kraftfull och robust känga vars namn passande nog är björn på Jämtska.</p>
		</div>

	</article>



  <article scroll-point scroll-point-bottom class="light-color align-center" >

		<div class="text-content" scroll-content>
      <!-- <img src="/img/sigill.png" alt="" class="sigill"> -->
      <img src="/img/ett_gronare_val.png" style="max-width:150px;" alt="" class="sigill">
			<h1>Vad lämnar du för avtryck i naturen?</h1>
		</div>

        <div class="movement-layers">
          <div class="layer" data-depth="0.1"><img src="/img/trees.jpg" alt=""></div>
        </div>


	</article>


	<article scroll-point scroll-point-bottom class="product big">
    <div class="product__wrapper">
      <figure><img src="/img/{{page.product_img}}" alt=""></figure>
      <div class="product__wrapper__text">
        <h1>{{ page.product_title }}</h1>
        <p>{{ page.product_text }}</p>
        <a href="{{ page.product_link }}">Gå till produkt</a>
      </div>
    </div>
	</article>


</section>
