
<nav class="fixed-top">
	<div class="content-wrapper">
		<ul class="theme-page-menu">

      {% for menuItem in pagecontent.menu %}

			<li><a go-to-id="{{ menuItem.link }}" href="">{{ menuItem.text }}</a></li>

      {% endfor %}

		</ul>
	</div>
</nav>

<section class="theme-page">

	<article scroll-point style="background:url({{site.baseurl}}/img/boots/banner_bg.jpg)" class="light-color banner">

    <img src="/img/boots/tjakke.png" class="image" alt="" scroll-bg>

		<h1 class="title"><img class="logo" src="/img/lundhags-logo.svg" alt="" />{{ pagecontent.section1.title }}</h1>

		<div class="banner__content" scroll-content>
			<p>{{ pagecontent.section1.text }}</p>
		</div>

	</article>

	<article id="filosofi" scroll-point class="light-color align-center">

		<img src="/img/boots/bg_livskvalitet.jpg" alt="" class="bg zoom-in-out">

		<div class="text-content" scroll-content>
			<h1 class="title medium">{{ pagecontent.section2.title }}</h1>
			<p>{{ pagecontent.section2.text }}</p>
		</div>

	</article>

	<article scroll-point class="columns offset-top">

		<figure scroll-img><img src="/img/boots/handsytt.jpg" alt=""></figure>

		<div fixed-content scroll-content>
			<div>
  			<h1 class="title">{{ pagecontent.section3.title }}</h1>
        <p>{{ pagecontent.section3.text }}</p>
			</div>

		</div>

	</article>

	<article id="material" scroll-point scroll-point-bottom class="light-color align-center stop-prev">

		<div class="text-content" scroll-content>

			<h1 class="title medium">{{ pagecontent.section4.title }}</h1>
			<p>{{ pagecontent.section4.text }}</p>

		</div>

    <div class="movement-layers">
      <div class="layer" data-depth="0.1"><div class="layer1" style="background:url({{site.baseurl}}/img/boots/baradetbasta.jpg)"></div></div>
    </div>

	</article>

	<article scroll-point class="light-color align-center">

		<img src="/img/boots/skinn.jpg" alt="" class="bg zoom-in-out">

		<div class="text-content" scroll-content>

			<h1 class="title medium">{{ pagecontent.section5.title }}</h1>
			<p>{{ pagecontent.section5.text }}</p>

		</div>

	</article>

	<article scroll-point zoom-in class="light-color align-center zoom-in">

		<div class="text-content" scroll-content>

			<h1 class="title medium">{{ pagecontent.section6.title }}</h1>
			<p>{{ pagecontent.section6.text }}</p>

		</div>

    <figure><img scroll-bg src="/img/boots/cellgummi.jpg" alt=""></figure>

	</article>

	<article scroll-point class="light-color align-center">

		<div class="text-content" scroll-content>

			<h1 class="title medium">{{ pagecontent.section7.title }}</h1>
			<p>{{ pagecontent.section7.text }}</p>

		</div>

    <figure class="bg"><img scroll-bg src="/img/boots/vibram.jpg" alt=""></figure>

	</article>

	<article scroll-point class="light-color align-center">

		<div class="text-content" scroll-content>

			<h1 class="title medium">{{ pagecontent.section8.title }}</h1>
			<p>{{ pagecontent.section8.text }}</p>
			<a href="{{ pagecontent.section8.link }}">{{ pagecontent.section8.linkText }}</a>

		</div>

		<div class="movement-layers">
      <div class="layer" data-depth="0.1"><div class="layer1" style="background:url({{site.baseurl}}/img/boots/nextgen.jpg)"></div></div>
    </div>

	</article>

	<article scroll-point class="layers align-center light-color" style="background:url({{site.baseurl}}/img/boots/eva_bg.jpg)">

		<quoteblock>{{ pagecontent.section9.quote }}<span>{{ pagecontent.section9.author }}</span></quoteblock>
		<figure class="layered" y-pos="1"  data-direction="1" data-speed="0.3">
			<img src="img/boots/eva.jpg">
		</figure>

		<figure class="layered movie-wrapper" y-pos="50"  data-direction="1" data-speed="1.1">
			<img src="/img/600x400.png">
			<video src="/videos/eva_movie_short.mp4" autoplay muted loop></video>
		</figure>

	</article>

	<div class="multiple">

  	<article id="lagerprincipen" scroll-point class="offset-top">

  		<div>
  			<div class="mozaik">

					<div fixed-content fixed-img style="background:url({{site.baseurl}}/img/boots/1lager.jpg);" alt=""></div>

					<div class="multiple-content">

					  <div>
  						<h1 class="title">{{ pagecontent.section10.title }}</h1>
  						<p>{{ pagecontent.section10.text }}</p>
  						<a href="{{ pagecontent.section10.link }}">{{ pagecontent.section10.linkText }}</a>
				    </div>

				  </div>

			  </div>
			</div>

		</article>

		<article scroll-point class="offset-top">

  		<div>
  			<div class="mozaik">

					<div fixed-content fixed-img style="background:url({{site.baseurl}}/img/boots/3lager_kanga.jpg);" alt=""></div>

					<div class="multiple-content">

						<div>
              <h1 class="title">{{ pagecontent.section11.title }}</h1>
  						<p>{{ pagecontent.section11.text }}</p>
  						<a href="{{ pagecontent.section11.link }}">{{ pagecontent.section11.linkText }}</a>
				    </div>

					</div>

			  </div>
			</div>

		</article>

		<article scroll-point class="darken offset-top">

  		<div>
  			<div class="mozaik">

					<div fixed-content fixed-img style="background:url({{site.baseurl}}/img/boots/fodrad_kanga.jpg); " alt=""></div>

					<div class="multiple-content">

						<div>
              <h1 class="title">{{ pagecontent.section12.title }}</h1>
              <p>{{ pagecontent.section12.text }}</p>

              {% if pagecontent.section12.link == "#" %}
              <p>{{ pagecontent.section12.linkText }}</p>
              {% endif %}


              <!-- <a href="{{ pagecontent.section12.link }}">{{ pagecontent.section12.linkText }}</a> -->
            </div>

					</div>

			  </div>
			</div>

		</article>

	</div>


	<div class="slider" scroll-point scroll-point-bottom>

		<article id="tillverkning" class="light-color align-center item movie-wrapper">
			<img src="/img/boots/slide4.jpg" alt="">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ pagecontent.slider1.youtube-id }}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

			<div class="text-content" scroll-content>

				<h1 class="title medium">{{ pagecontent.slider1.title }}</h1>

				<p>{{ pagecontent.slider1.text }}</p>
				<a href="{{ pagecontent.slider1.link }}" class="play-movie">{{ pagecontent.slider1.linkText }}</a>

			</div>

		</article>

		<article class="light-color align-center item">
			<img src="/img/boots/slide2.jpg" alt="">
		</article>

		<article class="light-color align-center item">
			<img src="/img/boots/slide3.jpg" alt="">
		</article>

		<article class="light-color align-center item">
			<img src="/img/boots/slide1.jpg" alt="">
		</article>

		<article class="light-color align-center item">
			<img src="/img/boots/slide5.jpg" alt="">
		</article>

		<article class="light-color align-center item">
			<img src="/img/boots/slide6.jpg" alt="">
		</article>
	</div>


	<!-- <article scroll-point class="light-color align-center" >

		<div class="text-content" scroll-content>

			<h1 class="small-title">{{ pagecontent.section13.title }}</h1>

			<p>{{ pagecontent.section13.text }}</p>
      <a href="{{ pagecontent.section13.link }}">{{ pagecontent.section13.linkText }}</a>

		</div>

        <div class="movement-layers">
          <div class="layer" data-depth="0.1"><img src="/img/slide3.jpg" alt=""></div>
        </div>


	</article> -->

	<article scroll-point scroll-point-bottom class="light-color align-center" >

		<div class="text-content" scroll-content>

			<h1 class="title medium">{{ pagecontent.section14.title }}</h1>

			<p>{{ pagecontent.section14.text }}</p>
			<a href="{{ pagecontent.section14.link }}">{{ pagecontent.section14.linkText }}</a>
		</div>

    <div class="movement-layers">
      <div class="layer" data-depth="0.1"><img src="/img/boots/aterbruket.jpg" alt=""></div>
    </div>

	</article>

	<article id="kangvard" scroll-point class="light-color align-center movie-wrapper darken-bg">

		<img src="/img/boots/kangvard_innanfilm.jpg" alt="">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ pagecontent.section15.youtube-id }}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

		<div class="text-content" scroll-content>
			<h1 class="title">{{ pagecontent.section15.title }}</h1>

			<p>{{ pagecontent.section15.text }}</p>
			<a href="{{ pagecontent.section15.link }}" class="play-movie">{{ pagecontent.section15.linkText }}</a>
		</div>

	</article>

	<article scroll-point zoom-in class="light-color align-center zoom-in">

		<div class="text-content" scroll-content>

			<div>
  			<h1 class="small-title">{{ pagecontent.section16.title }}</h1>
  			<p><a href="{{ pagecontent.section16.link }}">{{ pagecontent.section16.linkText }}</a></p>
			</div>

		</div>

    <figure><img scroll-bg src="/img/boots/kangor_avslut.jpg" alt=""></figure>

	</article>

</section>
