
<nav class="fixed-top">
	<div class="content-wrapper">
		<ul class="theme-page-menu">
			<li><a go-to-id="filosofi" href="">Filosofi</a></li>
			<li><a go-to-id="material" href="">Material</a></li>
			<li><a go-to-id="lagerprincipen" href="">Lagerprincipen</a></li>
			<li><a go-to-id="kangvard" href="">Kängvård</a></li>
		</ul>
	</div>
</nav>

<section class="theme-page">

	<article scroll-point style="background:url({{site.baseurl}}/img/boots/banner_bg.jpg)" class="light-color banner">
		<img src="/img/boots/tjakke.png" class="image" alt="" scroll-bg>
		<h1 class="title"><img class="logo" src="/img/lundhags-logo.svg" alt="" />Kängor</h1>

		<div class="banner__content" scroll-content>


			<p>Du kan gå länge i ett par Lundhagskängor. Riktigt länge. Till och med en hel livstid. Hantverket och de utvalda materialen gör dem ytterst hållbara. Passformen och komforten gör att du vill använda dem ofta. Skalprincipen skyddar foten och gör att årstid och väder inte spelar någon roll.</p>

		</div>

	</article>

	<article id="filosofi" scroll-point class="light-color align-center">

		<img src="/img/boots/bg_livskvalitet.jpg" alt="" class="bg zoom-in-out">

		<div class="text-content" scroll-content>
			<!-- <div class="fixed-text"> -->
			<!-- <h1 class="small-title">Livskvalitet</h1> -->
			<h1 class="title medium">Livskvalitet</h1>

			<p>Lundhags kängor bygger på ett hantverk och en kvalitet som håller för påfrestningar under lång tid. Sköter du dem rätt håller de ännu längre, och i vårt skomakeri har du även möjlighet till service och reparation om du behöver det. Därmed är det lätt hänt att du inte bara får ett par kängor, utan även en ny livskamrat.</p>
			<!-- </div> -->
		</div>

	</article>

	<article scroll-point class="columns offset-top">

		<figure scroll-img><img src="/img/boots/handsytt.jpg" alt=""></figure>

		<div fixed-content scroll-content>
			<div>
			<h1 class="title">Hantverk<br>sedan 1932</h1>

			<p>Vi tror att erfarenhet, hantverkskunnande och fingertoppskänsla är faktorer som är svåra att ersätta. Därför har vi aldrig försökt oss på att göra det. Naturligtvis tar vi hjälp av modern teknik, men vi kommer alltid att vara skomakare i ordets bokstavliga bemärkelse. Att vi kan arbeta, sy, känna och godkänna med våra händer är vårt arv.</p>
			</div>

		</div>

	</article>

	<article id="material" scroll-point scroll-point-bottom class="light-color align-center stop-prev">

		<div class="text-content" scroll-content>

			<!-- <h1 class="title bordered">Bara det bästa</h1> -->
			<h1 class="title medium">Bara det bästa</h1>

			<!-- <div class="fixed-text"> -->
				<p>Varje detalj i en Lundhagskänga ska fylla en funktion och varje material ska vara det bästa för ändamålet. Våra kängor har en greppvänlig sula som håller i många mil och ger dig en trygg känsla i obanad terräng. Till skaftet använder vi det finaste skinnet och i nederdelen på våra nya modeller finns ett helt nytt cellgummi som ger riktigt bra komfort.</p>
			<!-- </div> -->

		</div>

    <div class="movement-layers">
      <div class="layer" data-depth="0.1"><div class="layer1" style="background:url({{site.baseurl}}/img/boots/baradetbasta.jpg)"></div></div>
    </div>

	</article>

	<article scroll-point class="light-color align-center">

		<img src="/img/boots/skinn.jpg" alt="" class="bg zoom-in-out">

		<div class="text-content" scroll-content>
			<!-- <div class="fixed-text"> -->
			<!-- <h1 class="small-title">Det sitter i skinnet</h1> -->
			<h1 class="title medium">Det sitter<br/>i skinnet</h1>
			<p>Vi har jobbat med skinn i över 85 år. Det är ett av grundfundamenten i våra kängor och en del av varumärket Lundhags. I merparten av våra kängor använder vi fullnarvsskinn. Det är den yttersta delen av skinnet, som också är den del som är tåligast. Och då har vi inte nämnt det bästa. Ett skinn som vårdas blir bara bättre med tiden.</p>
			<!-- </div> -->
		</div>

	</article>

	<article scroll-point zoom-in class="light-color align-center zoom-in">

		<div class="text-content" scroll-content>
			<!-- <div class="fixed-text"> -->
			<!-- <h1 class="small-title">Kvalitet från grunden</h1> -->
			<h1 class="title medium">Kvalitet<br/>från grunden</h1>
			<p>Utan en bra grund kommer du inte långt. Nederdelen av Lundhags kängor är tillverkade i ett material som är helt vattentätt och ger dig stabilitet även när du bär tungt och går i obanad terräng. I Certech EXP består det yttre lagret av lätt och slitstark Liba Smart och det inre av microfiber för en skön känsla mot ben och vrist. Däremellan sitter ett isolerande lager för bästa komfort.</p>
			<!-- </div> -->
		</div>

    <figure><img scroll-bg src="/img/boots/cellgummi.jpg" alt=""></figure>

	</article>

	<article scroll-point class="light-color align-center">

		<div class="text-content" scroll-content>
			<!-- <div class="fixed-text"> -->
			<!-- <h1 class="small-title">Kvalitet från grunden</h1> -->
			<h1 class="title medium">Stegdämpare</h1>
			<p>Lundhags sulor klarar mer än att bara stå och gå på. Mönstret på yttersulan är väl genomtänkt och gjort för bästa grepp på tuffa underlag. Mellan yttersulan och foten sitter ett dämpande och stabiliserande material som ger ökad komfort och ett skonsammare steg.</p>
			<!-- </div> -->
		</div>

    <figure class="bg"><img scroll-bg src="/img/boots/vibram.jpg" alt=""></figure>

	</article>

	<article scroll-point class="light-color align-center">

		<div class="text-content" scroll-content>
			<!-- <div class="fixed-text"> -->
			<!-- <h1 class="small-title">Kvalitet från grunden</h1> -->
			<h1 class="title medium">En ny generation</h1>
			<p>Vi står inför ett generationsskifte. Inför 2017 har vi uppdaterat våra 3-lagerskängor med en helt ny typ av cellgummi, Certech EXP, och en ny mellansula som ger en mer följsam känga. Följsamheten bygger framförallt på det nya Certech-materialet och den nya Beta Pro innersulan. En ny hälkil ger också bättre dämpning. Fokus har legat på att förbättra komforten i kängorna ytterligare, samtidigt som funktionaliteten och reparerbarheten håller en ny nivå.</p>
			<a href="https://www.lundhags.se/Produkter/Kaengor/Skalkaengor/3-lagerskaengor">Gå till produkter</a>
			<!-- </div> -->
		</div>

		<div class="movement-layers">
      <div class="layer" data-depth="0.1"><div class="layer1" style="background:url({{site.baseurl}}/img/boots/nextgen.jpg)"></div></div>
    </div>

    <!-- <figure class="bg"><img scroll-bg src="/img/boots/nextgen.jpg" alt=""></figure> -->

	</article>

	<article scroll-point class="layers align-center light-color" style="background:url({{site.baseurl}}/img/boots/eva_bg.jpg)">

		<!-- <h2>Vildmarksguiden</h2> -->
		<quoteblock>Jag ser på naturen med största respekt och vördnad. Inget får gå till spillo.<span>Eva Bromé – Vildmarksguide</span></quoteblock>
		<figure class="layered" y-pos="1"  data-direction="1" data-speed="0.3">
			<img src="img/boots/eva.jpg">
		</figure>

		<!-- <figure class="layered" y-pos="30"  data-direction="1" data-speed="0.6">
			<img src="img/move_bg2.jpg">
		</figure> -->

		<figure class="layered movie-wrapper" y-pos="50"  data-direction="1" data-speed="1.1">
			<img src="/img/600x400.png">
			<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/wJoqZbzdq5c?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			<a href="#" class="play-movie">Spela film</a> -->
			<!-- <video src="/videos/eva_movie.m4v" autoplay muted></video> -->
			<video src="/videos/eva_movie_short.mp4" autoplay muted loop></video>
		</figure>

  	<!-- <div class="text-content">
  		<div class="fixed-text">

      <p>Eva Bromée, vildmarksguide och jägare: ”Kängorna gör mitt jobb lättare och min fritid behagligare.”</p>
      </div>
  	</div> -->

	</article>

	<div class="multiple">
	  	<article id="lagerprincipen" scroll-point class="offset-top">

	  		<div >

	  			<div class="mozaik">
					<!-- <div fixed-content fixed-img><img src="/img/banner_bg.jpg" alt=""></div> -->

					<!-- <div fixed-content fixed-img style="background:url({{site.baseurl}}/img/move_bg.jpg);" alt=""></div> -->
					<div fixed-content fixed-img style="background:url({{site.baseurl}}/img/boots/1lager.jpg);" alt=""></div>


					<div class="multiple-content">
						<div>
						<h1 class="title">1-lagerskängor</h1>

						<p>Den klassiska Lundhagskängan bygger på en 1-lagerskonstruktion, med ett lager skinn i skaftet, utan mellanlager eller foder. Det ger ett följsamt skaft som formar sig efter foten och benet. Under fötterna finns en slitstark och vattentät cellgummibotten och den klassiska Lundhagskänslan märks från första steget.</p>
						<a href="https://www.lundhags.se/Produkter/Kaengor/Skalkaengor/1-lagerskaengor">Gå till produkter</a>
						</div>


					</div>
				</div>

			</div>
		</article>

		<article scroll-point class="offset-top">

	  		<div >

	  			<div class="mozaik">
					<!-- <div fixed-content fixed-img><img src="/img/boot.png" alt=""></div> -->

					<div fixed-content fixed-img style="background:url({{site.baseurl}}/img/boots/3lager_kanga.jpg);" alt=""></div>


					<div class="multiple-content">
						<div>
						<h1 class="title">3-lagerskängor</h1>

						<p>Som namnet antyder är våra 3-lagerskängor mer uppbyggda i sin konstruktion och isolerar mer än 1-lagerskängorna. Skaftet består av två lager skinn med ett lager stabiliserande Ariaprene® däremellan, vilket ger hög stabilitet och ett svårslaget skydd.</p>
						<a href="https://www.lundhags.se/Produkter/Kaengor/Skalkaengor/3-lagerskaengor">Gå till produkter</a>
						</div>

					</div>
				</div>

			</div>
		</article>

		<article scroll-point class="darken offset-top">

	  		<div >

	  			<div class="mozaik">

					<div fixed-content fixed-img style="background:url({{site.baseurl}}/img/boots/fodrad_kanga.jpg); " alt=""></div>


					<div class="multiple-content">
						<div>
						<h1 class="title">Fodrade kängor</h1>

						<p>Ibland biter minusgraderna till ordentligt, men det behöver inte inverka på din upplevelse. Våra fodrade kängor, med isolerande yttersula, är rustade att stå emot rejäl kyla och ge hög komfort under vandringen. Cellgummit är tjockare och innerskon i ullfilt är löstagbar för att kunna torkas lätt under vinterturen och återställa den ursprungliga komforten.</p>
						<p>Lundhags fodrade kängor är en säsongsvara och återkommer i lager hösten 2017.</p>
						<!-- <a href="https://www.lundhags.se/Produkter/Kaengor/Fodrade-kaengor">Gå till produkter</a> -->
						</div>

					</div>
				</div>

			</div>
		</article>

	</div>

	<div class="slider" scroll-point scroll-point-bottom>

		<article class="light-color align-center item movie-wrapper">
			<img src="/img/boots/slide4.jpg" alt="">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/54WUBRa8LGQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

			<div class="text-content" scroll-content>
				<h1 class="title medium">Tillverkning</h1>

				<p>När vi tillverkar kängor, prioriterar vi komfort, prestanda och lång hållbarhet.</p>
				<a href="#" class="play-movie">Spela film</a>
			</div>

		</article>

		<article class="light-color align-center item">
			<img src="/img/boots/slide2.jpg" alt="">
		</article>

		<article class="light-color align-center item">
			<img src="/img/boots/slide3.jpg" alt="">
		</article>

		<article class="light-color align-center item">
			<img src="/img/boots/slide1.jpg" alt="">
		</article>

		<article class="light-color align-center item">
			<img src="/img/boots/slide5.jpg" alt="">
		</article>

		<article class="light-color align-center item">
			<img src="/img/boots/slide6.jpg" alt="">
		</article>
	</div>


	<!-- <article scroll-point class="light-color align-center" >

		<div class="text-content" scroll-content>

			<h1 class="small-title">Custom made</h1>

			<p>Även om du har valt rätt storlek på kängorna, är det inte helt säkert att de passar. En del fötter kräver nämligen speciella anpassningar. Lundhags Custom Made gör att du kan få kängor som passar just dina behov eller designönskemål.</p>

		</div>

        <div class="movement-layers">
          <div class="layer" data-depth="0.1"><img src="/img/slide3.jpg" alt=""></div>
        </div>


	</article> -->

	<article scroll-point scroll-point-bottom class="light-color align-center" >

		<div class="text-content" scroll-content>

			<!-- <h1 class="small-title">Återbruket</h1> -->
			<h1 class="title medium">Återbruket</h1>

			<p>Ibland kommer våra kängor på återbesök i skomakeriet i Järpen. För trots allt slits även de bästa materialen när de används mycket. Och det är då vi finns tillhands och reparerar och byter ut delar på dina kängor. Slit, men inte släng. Det tjänar både du och miljön på.</p>
			<a href="https://www.lundhags.se/Kundservice/Skomakaren">Läs mer</a>
		</div>

        <div class="movement-layers">
          <div class="layer" data-depth="0.1"><img src="/img/boots/aterbruket.jpg" alt=""></div>
        </div>


	</article>

	<article id="kangvard" scroll-point class="light-color align-center movie-wrapper darken-bg">
		<img src="/img/boots/kangvard_innanfilm.jpg" alt="">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/Ru-Ue1HCFBM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

		<div class="text-content" scroll-content>
			<h1 class="title">Vårda dina kängor</h1>

			<p>Lägg en stund på kängvård med jämna mellanrum. Vi lovar att det lönar sig många gånger om.</p>
			<a href="#" class="play-movie">Spela film</a>
			<!-- <a href="https://www.lundhags.se/Guider-Inspiration/Produktvaard/Kaengvaard" class="">Läs mer</a> -->
		</div>


	</article>

	<article scroll-point zoom-in class="light-color align-center zoom-in">





		<div class="text-content" scroll-content>
			<div class="fixedd-text">
			<h1 class="small-title">Lundhags kängor</h1>
			<p><a href="https://www.lundhags.se/Produkter/Kaengor">Se hela sortimentet</a></p>
			</div>
		</div>


    <figure><img scroll-bg src="/img/boots/kangor_avslut.jpg" alt=""></figure>


	</article>



</section>
