<section class="theme-page">

	<article class="product-banner">

    <div class="product-banner__content">

      <figure><img src="/img/{{page.product_img}}" alt=""></figure>
      <div>
        <h1>{{ page.product_title }}</h1>
  			<p>{{ page.product_text }}</p>
        <a href="{{ page.product_link }}">Gå till produkt</a>
      </div>
		</div>

	</article>



	<article scroll-point class="light-color align-center red-ice">

		<figure><img class="bg" src="/img/bg_touring.jpg" alt="" ></figure>
		<!-- <img class="stuck" src="/img/blackice/skaters.png" alt=""> -->

		<div class="text-content" scroll-content>
			<h1 class="title large">Turåkning</h1>

			<p>Långa turer genom tysta, snövita landskap är en ren njutning för ögat. Och varje meter, kilometer och mil, kommer riktigt bra pjäxor att löna sig.</p>
		</div>

	</article>



  <article scroll-point scroll-point-bottom class="light-color align-center" >

		<div class="text-content" scroll-content>

			<h1>Kvalitet som låter dig uppleva<br/>naturen i dess renaste form.</h1>
		</div>

        <div class="movement-layers">
          <div class="layer" data-depth="0.1"><img src="/img/blackice/lundhags_boot.jpg" alt=""></div>
        </div>


	</article>


	<article scroll-point scroll-point-bottom class="product big">
    <div class="product__wrapper">
  	  <figure><img src="/img/{{page.product_img}}" alt=""></figure>
      <div class="product__wrapper__text">
        <h1>{{ page.product_title }}</h1>
        <p>{{ page.product_text }}</p>
        <a href="{{ page.product_link }}">Gå till produkt</a>
      </div>
    </div>
	</article>

  <article scroll-point scroll-point-bottom class="product big">
    <div class="product__wrapper">
  	  <figure><img src="/img/guide_liner.png" alt=""></figure>
      <div class="product__wrapper__text">
        <h1>Guide Liner</h1>
        <p>Filtinnersko i ull för Lundhags Guide BC, med inbyggd <br/>Heel Fit Control™, polstrad kant upptill och förstärkt med Cambrelle®.</p>
        <a href="https://www.lundhags.se/Produkter/Kaengor/Kaengor-Tillbehoer/Boot-Liners/Guide-Liner/">Gå till produkt</a>
      </div>
    </div>
	</article>


</section>
