<section class="theme-page heritage" style="background:url({{ site.baseurl }}/img/heritage/heritage_bgintro.jpg)">

	<!-- <article scroll-point style="background:url({{ site.baseurl }}/img/heritage/heritage_bg.jpg)" class="light-color banner"> -->
	<article scroll-point class="light-color banner">
		<!-- <img src="/img/slide2.jpg" alt="" class="bg zoom-in-out"> -->

		<img src="/img/heritage/skog.png" alt="" class="bg">
		<!-- <img src="/img/heritage/siluett_test.png" alt="" class="bg skyline"> -->
		<!-- <img src="/img/heritage/siluett.png" alt="" class="bg skyline2"> -->
		<img src="/img/heritage/skog_full.png" alt="" class="bg">
		<div class="title">
			<!-- <img class="logo" src="/img/lundhags-logo.svg" alt="" > -->
			<!-- <img src="/img/heritage/sko2.gif" style="-webkit-mask-box-image: url(../img/heritage/mask3.svg);" alt=""> -->
			<!-- <figure class="smoke"><img src="/img/heritage/kanga2.png" alt="" ></figure> -->

			<figure class="smoke-loop">
				<img src="/img/heritage/sko_loop_main.gif" alt="" >
				<img src="/img/heritage/sko_loop_frame.png" alt="" >
			</figure>
			<!-- <figure><img src="/img/heritage/sko_loop.gif" alt="" ></figure> -->
		</div>

		<div class="banner__content" scroll-content>
		<div class="text-contentt" style="max-width:600px;margin-left:auto;margin-right:auto;">
			<div  class="logo">
				<img src="/img/lundhags-logo.svg" alt="" >
				<span class="logo-text">Heritage</span>
			</div>
			<!-- <h1 class="title"><img class="logo" src="/img/lundhags-logo.svg" alt="" />Heritage</h1> -->
			<p>Historia och tradition möter nya material och funktioner. Naturen möter urbana miljöer. Resultatet är vår Heritagekollektion, med moderna workboots som grundar sig på vår långa designhistoria.</p>

		</div>

		</div>

	</article>

		{% assign products = site.data.heritage_products.boots %}

		{% assign post_index = 1 %}

		{% for product in products %}

		{% if post_index == 1 %}
			<article scroll-point scroll-point-bottom class="light-color align-center stop-prev">
		{% else %}
			<article scroll-point scroll-point-bottom class="light-color align-center">
		{% endif %}


			<div class="product stretch" scroll-content>
				<figure><img src="{{ product.img_src }}" alt="" ></figure>
				<div class="text-block">
					<h1 class="title one-line">{{ product.name }}</h1>

					<p>{{ product.text }}</p>

					<a href="{{ product.link }}" class="icon-btn">Gå till produkt</a>

					<!-- {% if post_index != 7 %} -->
					<div class="dots-down"></div>
					<!-- {% endif %} -->
				</div>

			</div>

		</article>
		{% assign post_index = post_index | plus: 1 %}

		{% endfor %}

		<article class="page-footer" scroll-point>
			<div class="text-content">
				<a href="https://www.lundhags.se/Produkter/Kaengor/Heritage" class="icon-btn">Se hela sortimentet</a>
			</div>
		</article>


		<!-- <article scroll-point scroll-point-bottom class="light-color align-center" >

			<figure><img src="/img/slide1.jpg" alt="" class="bg"></figure>
			<div class="text-content" scroll-content>

				<quoteblock>Alla kängor bär på en historia</quoteblock>
			</div>


		</article> -->



</section>
