
<section class="theme-page">

	<article scroll-point class="light-color align-center fixed-vh">

		<figure><img class="bg" src="/img/boots/nextgen_intro.jpg" alt="" ></figure>


		<div class="text-content" scroll-content>
			<h1 class="title medium"><img class="logo" src="/img/lundhags-logo.svg" alt="" />En ny<br>generation</h1>
    </div>

	</article>

	<article scroll-point scroll-point-bottom class="dark-color align-center small" >

		<div class="text-content" scroll-content>

			<p>
Vi tar ett stort kliv med våra trelagerskängor, som har uppdaterats från topp till tå till 2017. Det innefattar en ny yttersula från Vibram med riktigt bra grepp, en utvecklad mellansula med förbättrad dämpning, samt en mer arbetad innersula. Nederdelen i Certech EXP ger en följsammare känga, utan att tappa i stabilitet när du bär tungt. Skaftet består av fullnarvskinn och mellanlager i Ariaprene för maximal komfort och minimal miljöpåverkan. Oavsett vilka påfrestningar du möter, får du en riktigt skön känsla för foten, och en känga med lång livslängd och hög reparerbarhet.
	</p>
		</div>

	</article>

  <article scroll-point class=" align-center dark-bg light-color">

    <div class="text-content features-wrapper" scroll-content>
      <div class="features">
        <img src="/img/{{page.product_img}}" alt="" class="">
        <ul class="hotspots" id="features_tjakke">
          <li class="left"><span>Nya Certech® Exp-teknologin bygger upp kängans nedre del i tre olika lager, vilket ger ett slitstarkt skydd och riktigt hög komfort.</span></li>
          <li class="right"><span>Mellanlagret i Ariaprene gör att kängorna absorberar mindre vatten och torkar fortare, men materialet har även isolerande och stötdämpande egenskaper.</span></li>
          <li class="down short"><span>Yttersulor av Vibram® ger bra dämpning och ett avrullande steg.</span></li>
        </ul>
      </div>
    </div>

  </article>





	{% assign products = site.data.next-gen.boots %}

	{% for product in products %}

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/img/{{ product.img_src }}" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>{{ product.name }}</h1>
				<p>{{ product.text }}</p>
				<a href="{{ product.url }}">Gå till produkt</a>
			</div>
		</div>
	</article>

	{% endfor %}


</section>
