
<section class="theme-page">

	<article scroll-point class="light-color align-center fixed-vh">

		<figure><img class="bg" src="/img/boots/nextgen_intro.jpg" alt="" ></figure>


		<div class="text-content" scroll-content>
			<h1 class="title medium"><img class="logo" src="/img/lundhags-logo.svg" alt="" />Eine neue<br>generation</h1>
    </div>

	</article>

	<article scroll-point scroll-point-bottom class="dark-color align-center small" >

		<div class="text-content" scroll-content>

			<p>
Wir machen einen Siebenmeilenschritt bei unseren 3-Lagen-Stiefeln, die für 2017 von Kopf bis Fuß aktualisiert worden sind. Dazu gehört eine neue Außensohle von Vibram mit ausgezeichneter Griffigkeit, eine ausgeklügelte Zwischensohle für bessere Dämpfung sowie eine stärker ausgearbeitete Brandsohle. Der untere Teil aus Certech EXP ergibt einen geschmeidigeren Stiefel, ohne beim Wandern mit schwerem Gepäck an Stabilität zu verlieren. Der Schaft besteht aus Vollnarbenleder und die Zwischenschicht aus Ariaprene für maximalen Tragekomfort und minimale Umweltbelastung. Wie anstrengend es auch sein mag, der Fuß wird sich wohlfühlen. Und der Stiefel hält und hält und lässt sich außerdem fast immer reparieren.
	</p>
		</div>

	</article>

  <article scroll-point class=" align-center dark-bg light-color">

    <div class="text-content features-wrapper" scroll-content>
      <div class="features">
        <img src="/img/{{page.product_img}}" alt="" class="">
        <ul class="hotspots" id="features_tjakke">
          <li class="left"><span>Mit der neuen Certech® Exp-Technologie wird der untere Teil des Stiefels in drei Schichten aufgebaut, die robusten Schutz und besten Tragekomfort bieten. </span></li>
          <li class="right"><span>Die Zwischenschicht aus Ariaprene führt dazu, dass die Stiefel weniger Wasser aufnehmen und schneller trocknen. Außerdem hat das Material wärmeisolierende und stoßdämpfende Eigenschaften.</span></li>
          <li class="down short"><span>Die Außensohle aus Vibram® bietet gute Dämpfung und der Fuß kann gut abrollen.</span></li>
        </ul>
      </div>
    </div>

  </article>


	{% assign products = site.data.next-gen_de.boots %}

	{% for product in products %}

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/img/{{ product.img_src }}" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>{{ product.name }}</h1>
				<p>{{ product.text }}</p>
				<a href="{{ product.url }}">Zum Produkt gehen</a>
			</div>
		</div>
	</article>

	{% endfor %}


</section>
