
<section class="theme-page">

	<article scroll-point class="light-color align-center fixed-vh">

		<figure><img class="bg" src="/img/boots/nextgen_intro.jpg" alt="" ></figure>


		<div class="text-content" scroll-content>
			<h1 class="title medium"><img class="logo" src="/img/lundhags-logo.svg" alt="" />A new<br>generation</h1>
    </div>

	</article>

	<article scroll-point scroll-point-bottom class="dark-color align-center small" >

		<div class="text-content" scroll-content>

			<p>
We take a major stride with our 3-layer boots, which have been updated from top to toe for 2017. This includes a new outsole from Vibram with excellent traction, a developed midsole with improved absorption, and a more conceived insole. The lower part in Certech EXP provides a more supple boot, without losing stability when carrying heavy loads. The shaft consists of full-grain leather and a midlayer in Ariaprene for maximum comfort and minimum environmental impact. Regardless of the strains you encounter, your feet will get a truly comfortable feel, and a boot with long life and high repairability.
	</p>
		</div>

	</article>

  <article scroll-point class=" align-center dark-bg light-color">

    <div class="text-content features-wrapper" scroll-content>
      <div class="features">
        <img src="/img/{{page.product_img}}" alt="" class="">
        <ul class="hotspots" id="features_tjakke">
          <li class="left"><span>New Certech® Exp technology builds up the lower part of the boot in three layers, giving durable protection and excellent comfort.</span></li>
          <li class="right"><span>The midlayer in Ariaprene allows the boots to absorb less water and dry faster. As well, the material has also insulating and shock absorbing characteristics.</span></li>
          <li class="down short"><span>The outsole in Vibram® gives good absorption and a rolling step.</span></li>
        </ul>
      </div>
    </div>

  </article>


	{% assign products = site.data.next-gen_en.boots %}

	{% for product in products %}

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/img/{{ product.img_src }}" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>{{ product.name }}</h1>
				<p>{{ product.text }}</p>
				<a href="{{ product.url }}">Go to product</a>
			</div>
		</div>
	</article>

	{% endfor %}


</section>
