<nav class="fixed-top">
	<div class="content-wrapper">
		<ul class="theme-page-menu">
			<!-- <li><a go-to-id="skate-school" href="">Skridskoskola</a></li> -->
			<li><a go-to-id="boots" href="">Pjäxor</a></li>
			<li><a go-to-id="pikes" href="">Pikar</a></li>
			<li><a go-to-id="skates" href="">Skridskor</a></li>
			<li><a go-to-id="movie" href="">Film</a></li>
			<li><a go-to-id="kit" href="">Utrustning</a></li>
			<li><a go-to-id="viking" href="">Vikingarännet</a></li>
		</ul>
	</div>
</nav>

<section class="theme-page black-ice">



	<article scroll-point style="background:url({{ site.baseurl }}/img/blackice/banner_bg.jpg)" class="light-color banner">
		<!-- <img src="/img/slide2.jpg" alt="" class="bg zoom-in-out"> -->
		<img scroll-bg src="/img/blackice/banner_skater.jpg" alt="" class="bg">
		<!-- <h1 class="title"><img class="logo" src="/img/lundhags-logo.svg" alt="" />Nordic<br>Skating</h1> -->
		<h1 class="title"><img class="logo" src="/img/lundhags-logo.svg" alt="" />Långfärds-<br>skridskor</h1>

		<div class="banner__content" scroll-content>


			<p>Tysthet, frihet, oändlighet. När långfärdsskridskorna tar dig ut över isen, infinner sig stora känslor. Här finns tid att njuta och ytor att uppleva – skär efter skär. Lundhags har en stark tradition av långfärdsskridskor och ett sortiment som är byggt för långa och säkra färder på isarna.</p>

		</div>

	</article>



	<article id="skate-school" scroll-point zoom-in class="light-color align-center ice-effect zoom-in">

		<figure><img src="/img/blackice/skating.jpg" alt=""  scroll-bg></figure>

		<div class="text-content" scroll-content>
			<h1 class="title one-line">Anders Tysks<br>skridskoskola</h1>

			<p>På isarna är rätt kunskap en förutsättning för både upplevelsen och säkerheten. Vi har tipsen som gör dig bättre, oavsett om du är nybörjare eller van åkare. </p>
			<a href="https://www.lundhags.se/Guider-Inspiration/Artiklar/Is-och-skridskoskolan-med-Anders-Tysk">Gå till skridskoskolan</a>
		</div>

	</article>

	<article id="boots" scroll-point class="layers align-center" style="background-image: url({{ site.baseurl }}/img/blackice/lundhags_boot.jpg)">
		<div scroll-content>
		<h2 class="title">Pjäxor</h2>
		</div>
		<!-- <figure class="layered" y-pos="1"  data-direction="1" data-speed="0.3">
			<img src="/img/blackice/boot_front.png">
		</figure>

		<figure class="layered" y-pos="70"  data-direction="1" data-speed="0.2">
			<img src="/img/blackice/tour_skate_boot.png">
		</figure> -->




      	<div class="text-content">
      		<div class="fixed-text">

	        <p>Våra pjäxor ger dig stabilitet utan att bli tunga och klumpiga. De fungerar både till skridskor och turskidor med Rottafella BC-bindningar. </p>
	        </div>
      	</div>
  	</article>

  	<article scroll-point class=" align-center ice-effect">

		<img src="/img/blackice/pjaxor.jpg" alt="" class="bg text zoom-in-out">

		<div class="text-content features-wrapper" scroll-content>
			<div class="features">
				<img src="/img/blackice/kangan.png" alt="" class="">
				<ul class="hotspots" id="features_boot">
					<li class="short"><span>Stabil men lätt pjäxa för långfärdsskridsko och turåkning.</span></li>
					<li class="short"><span>Mellanhögt skaft ger stabilitet och värme utan att vara klumpigt.</span></li>
					<li class="short"><span>Förstärkning över tåpartiet ger en styvare pjäxa och skydd mot skridsko och stålkanter.</span></li>
					<li class="down short"><span>Rottefella BC-sula gör att du kan använda pjäxan till både lång- färdsskridskor och turskidor.</span></li>
					<li class="down short"><span>Certech® 4.5 cellgummibotten gör underdelen helt vattentät. (Guide BC.)</span></li>
					<li class="down"><span>Löstagbar filtinnersko ger ett behagligare klimat för foten och underlättar när du ska torka en fuktig eller blöt pjäxa. (Guide BC.)</span></li>
					<li class="left"><span>HFCTM - Heel Fit Control för ett stabilare hälgrepp (Guide BC.)</span></li>
					<li class="left"><span>Cambrelle® foder för bättre fukt- transport och stöd. (Guide BC.)</span></li>
				</ul>
			</div>
		</div>

		<a href="#features_boot" class="toggle-features" prev-text="Göm">features</a>
		<a href="https://www.lundhags.se/Produkter/Nordic-Skating/Skating-Boots" class="go-to-category">Se alla pjäxor</a>

	</article>



	<article id="pikes" scroll-point class="layers align-center" style="background-image: url({{ site.baseurl }}/img/blackice/lundhags_pikar.jpg)">
		<div scroll-content>
		<h2 class="title">Pikar</h2>
		</div>
		<!-- <figure class="layered" y-pos="10"  data-direction="1" data-speed="0.3">
			<img src="/img/blackice/lundhags_pole.png">
		</figure>

		<figure class="layered" y-pos="70"  data-direction="1" data-speed=".2">
			<img src="/img/blackice/pole_straight.png">
		</figure> -->




      	<div class="text-content">
      		<div class="fixed-text">

	        <p>Med låg vikt och hög vridstyvhet ger stav och pik ökad balans och säkerhet. De hjälper dig också att avlasta benmusklerna om du blir trött.</p>
	        </div>
      	</div>
  	</article>

  	<article scroll-point class="align-center ice-effect">

		<img src="/img/blackice/pikar.jpg" alt="" class="bg text zoom-in-out">

		<div class="text-content features-wrapper" scroll-content>

			<div class="features pik">
				<img src="/img/blackice/piken.png" alt="" class="">
				<ul class="hotspots" id="features_pike">
					<li class="right"><span>Ergonomiskt handtag</span></li>
					<li class="right"><span>Flyter ihopkopplade och var för sig</span></li>
					<li class="right"><span>Korkdetaljer ger ett behagligt grepp även när det är kallt</span></li>
					<li class="left"><span>Härdat aluminium gör staven styv och lätt</span></li>
					<li class="left"><span>Vikt i ena staven för pikning (Core.)</span></li>
					<!-- <li class="left"><span>Piken flyter vertikalt för sig själv</span></li> -->
				</ul>
			</div>
		</div>

		<a href="#features_pike" class="toggle-features" prev-text="Göm">features</a>
		<a href="https://www.lundhags.se/Produkter/Nordic-Skating/Ice-Safety" class="go-to-category">Se alla pikar</a>

	</article>



	<article id="skates" scroll-point class="layers align-center" style="background-image: url({{ site.baseurl }}/img/blackice/lundhags_skridsko.jpg)">

		<div scroll-content>
		<h2 class="title">Skridskor</h2>
		</div>

		<!-- <figure class="layered" y-pos="70"  data-direction="1" data-speed="0.3">

			<img class="rotate" src="/img/blackice/skena_front_small.png">
		</figure> -->




      	<div class="text-content">
      		<div class="fixed-text">

	        <p>Lundhags skridskor behåller sin åkradie oavsett temperatursvängningar. Profilen och skenan är fästa med genomgående fjädrande rörnitar för att ge en stark och säker långfärdsskridsko.</p>
	        </div>
      	</div>
  	</article>

  	<article scroll-point class="align-center ice-effect">

		<img src="/img/blackice/skridskor.jpg" alt="" class="bg text zoom-in-out">

		<div class="text-content features-wrapper"  scroll-content>
			<div>
			<div class="features">

				<img src="/img/blackice/t_skate.png" alt="" class="">
				<ul class="hotspots" id="features_skate">
					<li class="short"><span>CNC-fräst profil för högsta precision och kvalitet.</span></li>
					<!-- <li><span>Rottefella Xcelerator­ bindning medföljer (ej monterad)</span></li>
					<li class="short"><span>Justerbar i sidled i två lägen</span></li> -->

					<li class=""><span>Laserskuren och CNC-slipad skena för högsta precision och kvalitet.</span></li>
					<li class="down short"><span>Bibehållen åkradie oavsett temperatursvängningar.</span></li>
					<!-- <li class="down short"><span>Åkradie 28 meter. Skridskon behåller samma åkradie oavsett temperatur</span></li> -->
					<li class="down"><span>Skena av rostfritt svenskt stål från Sandvik. Tillverkad i Sverige av återvunnet och återvinningsbart material.</span></li>
					<li class="down short"><span>Innovativ pivotupphängd infästning av skenan.</span></li>
					<!-- <li class="left"><span>Innovativ pivotupphängd infästning av skenan</span></li> -->
				</ul>
			</div>
			</div>
		</div>

		<a href="#features_skate" class="toggle-features" prev-text="Göm">features</a>
		<a href="https://www.lundhags.se/Produkter/Nordic-Skating/Skates" class="go-to-category">Se alla skridskor</a>
	</article>

	<!-- <article scroll-point class="light-color align-center movie-wrapper">
		<img src="/img/blackice/skating.jpg" alt="">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/aTLwIrDAuJo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

		<div class="text-content" scroll-content>
			<h1 class="title">Ren och skär njutning</h1>
			<a href="#" class="play-movie">Se film</a>
		</div>


	</article> -->

	<!-- <article scroll-point zoom-in class="light-color align-center movie-wrapper zoom-in">
		<figure><img scroll-bg src="/img/blackice/bgskate.jpg" alt=""></figure>

		<iframe width="560" height="315" src="https://www.youtube.com/embed/gNktV0e2-2k?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

		<img class="stuck" src="/img/blackice/skaters.png" alt="">
		<div class="text-content" scroll-content>

			<h1 class="title">Ren och skär njutning</h1>
			<p>En film om långa skär och isar som bjuder på förtrollande äventyr.</p>
			<a href="#" class="play-movie">Se film</a>
		</div>


	</article> -->


	<article id="movie" scroll-point class="light-color align-center movie-wrapper">
		<!-- <video id="ice_video" autoplay loop class="hidden-touch"src="/blackice.mp4"></video> -->

		<!-- <figure class="visible-touch"><img scroll-bg src="/img/blackice/bgskate.jpg" alt=""></figure> -->
		<!-- <figure class="bg"><img scroll-bg src="/img/blackice/bgskate.jpg" alt=""></figure> -->
		<!-- <figure class="bg lake"><img scroll-bg src="/img/blackice/lake_bottom.png" alt=""><img scroll-bg src="/img/blackice/lake_top.png" alt=""></figure> -->
		<figure class="bg ice"><img scroll-bg src="/img/blackice/banner.jpg" alt=""></figure>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/gNktV0e2-2k?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

		<div class="text-content" scroll-content>

			<h1 class="title">Ren och skär njutning</h1>
			<p>En film om långa skär och isar som bjuder på förtrollande äventyr.</p>
			<a href="#" class="play-movie">Se film</a>
		</div>


	</article>


	<div class="kit" >
		<div class="wrapper">
			<article id="kit" scroll-point class="flex-content light-color">
				<header scroll-content>
					<h1 class="title">Komplett</h1>
					<p>Optimala förutsättningar.</p>
				</header>

				 {% assign products = site.data.blackice_products.kit %}

				 {% for product in products.extreme %}

				 <div class="flex-content__item" scroll-content>
					<figure><img src="{{ product.img_src }}" alt=""></figure>
					<h4>{{ product.name }}</h4>
				</div>

				 {% endfor %}

				 <div class="fill" scroll-content>
					<a class="icon-btn" href="https://www.lundhags.se/Produkter/Nordic-Skating">Se hela sortimentet</a>
				</div>


			</article>

			<article scroll-point class="flex-content light-color">
				<header>
					<h1 class="title">Extra</h1>
					<p>Bättre balans, bättre packning.</p>
				</header>

				 {% for product in products.medium %}

				 <div class="flex-content__item">
					<figure><img src="{{ product.img_src }}" alt=""></figure>
					<h4>{{ product.name }}</h4>
				</div>

				 {% endfor %}

				 <div class="fill" scroll-content>
					<a class="icon-btn" href="https://www.lundhags.se/Produkter/Nordic-Skating">Se hela sortimentet</a>
				</div>


			</article>

			<article scroll-point class="flex-content light-color">
				<header>
					<h1 class="title">Bas</h1>
					<p>Grunden för säkra turer.</p>
				</header>

				 {% for product in products.small %}

				 <div class="flex-content__item">
					<figure><img src="{{ product.img_src }}" alt=""></figure>
					<h4>{{ product.name }}</h4>
				</div>

				 {% endfor %}

				 <div class="fill" scroll-content>
					<a class="icon-btn" href="https://www.lundhags.se/Produkter/Nordic-Skating">Se hela sortimentet</a>
				</div>


			</article>

		</div>
	</div>

	<article id="viking" scroll-point class="multiple offset-top">

  		<div>

  			<div class="mozaik">
				<!-- <div fixed-content fixed-img><img src="/img/banner_bg.jpg" alt=""></div> -->

				<div fixed-content fixed-img style="background:url({{ site.baseurl }}/img/blackice/vikinga.jpg);" alt=""></div>


				<div class="multiple-content">
					<div>
					<h1 class="title one-line">Vikingarännet<br>2017</h1>

					<p>Varje år arrangeras skridskoloppet Vikingarännet på Mälarisarna mellan Uppsala och Stockholm. 8 mils åkning väntar deltagarna och Lundhags är med som en av loppets sponsorer.<br/>Vi ses där 19 februari.</p>

					<a class="icon-btn invert" href="http://vikingarannet.com/">Läs mer</a>
					</div>


				</div>
			</div>

		</div>
	</article>

	<!-- <article scroll-point zoom-in class="light-color align-center zoom-in">

		<div class="text-content" scroll-content>
			<div class="fixed-text">
			<h1 class="small-title">Vildmarksguiden</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto voluptatem atque itaque fuga quisquam adipisci, veritatis sequi repellat consequatur reiciendis eaque soluta eveniet ut alias quibusdam quaerat possimus odio odit.</p>
			</div>
		</div>

        <figure><img scroll-bg src="/img/move_bg3.jpg" alt=""></figure>

	</article>
 -->









</section>
