


<nav class="fixed-top">
	<div class="content-wrapper">
		<ul class="theme-page-menu">

      {% for menuItem in pagecontent.menu %}

			<li><a go-to-id="{{ menuItem.link }}" href="">{{ menuItem.text }}</a></li>

      {% endfor %}

		</ul>
	</div>
</nav>

<section class="theme-page pants">

	<article id="filosofi" scroll-point style="background:url({{ site.baseurl }}/img/pants/banner_bg.jpg)" class="light-color banner">

		<img src="/img/pants/byxor_banner.png" class="image" alt="" scroll-bg>
		<h1 class="title"><img class="logo" src="/img/lundhags-logo.svg" alt="" />{{ pagecontent.section1.title }}</h1>

		<div class="banner__content" scroll-content>
      <p>{{ pagecontent.section1.text }}</p>
		</div>

	</article>



  <article scroll-point zoom-in class="light-color align-center zoom-in" >
    <figure><img src="/img/pants/byxor_miljobakgrund.jpg" alt="" scroll-bg class="bg"></figure>
		<div class="text-content" scroll-content>

			<h1 class="title medium">{{ pagecontent.section2.title }}</h1>

      <p>{{ pagecontent.section2.text }}</p>
      <!-- <a href="{{ pagecontent.section2.link }}">{{ pagecontent.section2.linkText }}</a> -->
		</div>


	</article>

  <article scroll-point scroll-point-bottom class="light-color align-center" >

		<figure><img src="/img/pants/passform_byxor.jpg" alt="" scroll-bg class="bg"></figure>

		<div class="text-content" scroll-content>
			<h1 class="title medium">{{ pagecontent.section3.title }}</h1>
      <p>{{ pagecontent.section3.text }}</p>
			<!-- <a href="{{ pagecontent.section3.link }}">{{ pagecontent.section3.linkText }}</a> -->
		</div>

	</article>

  <!-- Hybrid -->

	<article id="hybrid" scroll-point class="layers dark-color align-center" style="background: #fff">

    <div class="text-content" scroll-content>
		  <h1 class="title large">{{ pagecontent.product1.title }}</h1>
      <p>{{ pagecontent.product1.text }}</p>

		</div>

    <figure class="layered" y-pos="1"  data-direction="1" data-speed="0.3">
			<img src="/img/pants/layer_img1.jpg">
		</figure>

		<figure class="layered" y-pos="70"  data-direction="1" data-speed="0.2">
			<img src="/img/pants/layer_img2.jpg">
		</figure>

	</article>

	<article scroll-point class=" align-center shine-effect bg-hybrid">

		<img src="/img/pants/wphybrid.jpg" alt="" class="bg text zoom-in-out">

		<div class="text-content features-wrapper" scroll-content>
			<div class="features">
				<img src="/img/pants/antjah.png" alt="" class="">
        <ul class="hotspots" id="features_hybrid">
					<li class="right"><span>{{ pagecontent.product1.features[0] }}</span></li>
					<li class="right"><span>{{ pagecontent.product1.features[1] }}</span></li>
					<li class="right"><span>{{ pagecontent.product1.features[2] }}</span></li>
					<li class="right"><span>{{ pagecontent.product1.features[3] }}</span></li>
					<li class="right"><span>{{ pagecontent.product1.features[4] }}</span></li>
					<li class="left"><span>{{ pagecontent.product1.features[5] }}</span></li>
					<li class="left"><span>{{ pagecontent.product1.features[6] }}</span></li>
					<li class="left"><span>{{ pagecontent.product1.features[7] }}</span></li>
					<li class="left"><span>{{ pagecontent.product1.features[8] }}</span></li>
					<li class="left"><span>{{ pagecontent.product1.features[9] }}</span></li>
				</ul>
			</div>
		</div>

    <a href="{{ pagecontent.product1.linkCategory }}" class="go-to-category">{{ pagecontent.product1.linkCategoryText }}</a>
    <a href="{{ pagecontent.product1.link }}" class="product-model-name">{{ pagecontent.product1.linkText }}</a>

  </article>

  <!-- Hybrid Stretch -->

  <article id="hybrid-stretch" scroll-point class="layers dark-color align-center" style="background: #fff">

		<div class="text-content" scroll-content>
		  <h1 class="title large">{{ pagecontent.product2.title }}</h1>
      <p>{{ pagecontent.product2.text }}</p>
		</div>

    <figure class="layered" y-pos="1"  data-direction="1" data-speed="0.3">
			<img src="/img/pants/layer_img3.jpg">
		</figure>

		<figure class="layered" y-pos="70"  data-direction="1" data-speed="0.2">
			<img src="/img/pants/layer_img4.jpg">
		</figure>

	</article>

	<article scroll-point class=" align-center shine-effect bg-hybrid-stretch">

		<img src="/img/pants/stretchhybrid.jpg" alt="" class="bg text zoom-in-out">

		<div class="text-content features-wrapper" scroll-content>
			<div class="features">
				<img src="/img/pants/makke.png" alt="" class="">
        <ul class="hotspots" id="features_hybrid_stretch">
          <li class="right"><span>{{ pagecontent.product2.features[0] }}</span></li>
          <li class="right"><span>{{ pagecontent.product2.features[1] }}</span></li>
					<li class="right"><span>{{ pagecontent.product2.features[2] }}</span></li>
					<li class="right"><span>{{ pagecontent.product2.features[3] }}</span></li>
					<li class="right"><span>{{ pagecontent.product2.features[4] }}</span></li>
					<li class="right"><span>{{ pagecontent.product2.features[5] }}</span></li>

					<li class="left"><span>{{ pagecontent.product2.features[6] }}</span></li>
					<li class="left"><span>{{ pagecontent.product2.features[7] }}</span></li>
					<li class="left"><span>{{ pagecontent.product2.features[8] }}</span></li>
					<li class="left"><span>{{ pagecontent.product2.features[9] }}</span></li>
					<li class="left"><span>{{ pagecontent.product2.features[10] }}</span></li>
          <li class="left"><span>{{ pagecontent.product2.features[11] }}</span></li>
				</ul>
			</div>
		</div>

    <a href="{{ pagecontent.product2.linkCategory }}" class="go-to-category">{{ pagecontent.product2.linkCategoryText }}</a>
    <a href="{{ pagecontent.product2.link }}" class="product-model-name">{{ pagecontent.product2.linkText }}</a>

	</article>

  <!-- Solid -->

  <!--<article id="solid" scroll-point class="layers dark-color align-center" style="background: #fff">

		<div class="text-content" scroll-content>
    <h1 class="title large">{{ pagecontent.product3.title }}</h1>
    <p>{{ pagecontent.product3.text }}</p>
    </div>

    <figure class="layered" y-pos="1"  data-direction="1" data-speed="0.3">
			<img src="/img/boots/bg_livskvalitet.jpg">
		</figure>

		<figure class="layered" y-pos="70"  data-direction="1" data-speed="0.2">
			<img src="/img/boots/bg_livskvalitet.jpg">
		</figure>

	</article>

	<article scroll-point class=" align-center shine-effect bg-solid">

		<img src="/img/pants/solid.jpg" alt="" class="bg text zoom-in-out">

		<div class="text-content features-wrapper" scroll-content>
			<div class="features">
				<img src="/img/pants/jonten.png" alt="" class="">
        <ul class="hotspots" id="features_solid">
          <li class="left"><span>{{ pagecontent.product3.features[0] }}</span></li>
					<li class="left"><span>{{ pagecontent.product3.features[1] }}</span></li>
					<li class="left"><span>{{ pagecontent.product3.features[2] }}</span></li>
          <li class="right"><span>{{ pagecontent.product3.features[3] }}</span></li>
          <li class="right"><span>{{ pagecontent.product3.features[4] }}</span></li>
					<li class="right"><span>{{ pagecontent.product3.features[5] }}</span></li>
				</ul>
			</div>
		</div>

    <a href="{{ pagecontent.product3.linkCategory }}" class="go-to-category">{{ pagecontent.product3.linkCategoryText }}</a>
    <a href="{{ pagecontent.product3.link }}" class="product-model-name">{{ pagecontent.product3.linkText }}</a>

	</article>-->

  <!-- Waterproof -->

  <article id="waterproof" scroll-point class="layers dark-color align-center" style="background: #fff">

		<div class="text-content" scroll-content>
      <h1 class="title large">{{ pagecontent.product4.title }}</h1>
      <p>{{ pagecontent.product4.text }}</p>
    </div>

		<figure class="layered" y-pos="1"  data-direction="1" data-speed="0.3">
			<img src="/img/pants/layer_img5.jpg">
		</figure>

		<figure class="layered" y-pos="70"  data-direction="1" data-speed="0.2">
			<img src="/img/pants/layer_img6.jpg">
		</figure>

	</article>

	<article scroll-point class=" align-center shine-effect bg-waterproof">

		<img src="/img/pants/waterproof.jpg" alt="" class="bg text zoom-in-out">

		<div class="text-content features-wrapper" scroll-content>
			<div class="features">
				<img src="/img/pants/rocketeer.png" alt="" class="">
        <ul class="hotspots" id="features_waterproof">
          <li class="right"><span>{{ pagecontent.product4.features[0] }}</span></li>
          <li class="right"><span>{{ pagecontent.product4.features[1] }}</span></li>
          <li class="left"><span>{{ pagecontent.product4.features[2] }}</span></li>
          <li class="left"><span>{{ pagecontent.product4.features[3] }}</span></li>
          <li class="right"><span>{{ pagecontent.product4.features[4] }}</span></li>
          <li class="left"><span>{{ pagecontent.product4.features[5] }}</span></li>
          <li class="right"><span>{{ pagecontent.product4.features[6] }}</span></li>
          <li class="left"><span>{{ pagecontent.product4.features[7] }}</span></li>
				</ul>
			</div>
		</div>

    <a href="{{ pagecontent.product4.linkCategory }}" class="go-to-category">{{ pagecontent.product4.linkCategoryText }}</a>
    <a href="{{ pagecontent.product4.link }}" class="product-model-name">{{ pagecontent.product4.linkText }}</a>

	</article>

	<!-- <article scroll-point class="light-color align-center movie-wrapper darken-bg">

		<figure><img class="bg" src="/img/pants/byxortarform.jpg" alt=""></figure>

		<iframe width="560" height="315" src="https://www.youtube.com/embed/gNktV0e2-2k?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

		<div class="text-content" scroll-content>

			<h1 class="title medium">{{ pagecontent.section4.title }}</h1>
			<p>{{ pagecontent.section4.text }}</p>
			<a href="{{ pagecontent.section4.link }}" class="play-movie">{{ pagecontent.section4.linkText }}</a>
		</div>

	</article> -->

  <article scroll-point scroll-point-bottom class="light-color align-center" >

		<div class="text-content" scroll-content>
			<h1 class="title medium">{{ pagecontent.section5.title }}</h1>
      <p>{{ pagecontent.section5.text }}</p>
      <a href="{{ pagecontent.section5.link }}">{{ pagecontent.section5.linkText }}</a>
    </div>

    <div class="movement-layers">
      <div class="layer" data-depth="0.1"><img src="/img/pants/valutankval_byxor.jpg" alt=""></div>
    </div>

	</article>

  <!-- <article id="varda-byxor"  scroll-point class="light-color align-center movie-wrapper darken-bg">

		<figure><img class="bg" src="/img/pants/behandlabyxor.jpg" alt=""></figure>

		<iframe width="560" height="315" src="https://www.youtube.com/embed/gNktV0e2-2k?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

		<div class="text-content" scroll-content>

			<h1 class="title">{{ pagecontent.section6.title }}</h1>
			<p>{{ pagecontent.section6.text }}</p>
      <a href="{{ pagecontent.section6.link }}" class="play-movie">{{ pagecontent.section6.linkText }}</a>
		</div>

	</article> -->

  <article scroll-point zoom-in class="light-color align-center zoom-in">

    <figure><img scroll-bg src="/img/pants/byxoravslut.png" alt=""></figure>

		<div class="text-content" scroll-content>
			<h1 class="small-title">{{ pagecontent.section7.title }}</h1>
			<p><a href="{{ pagecontent.section7.link }}">{{ pagecontent.section7.linkText }}</a></p>
		</div>

	</article>


</section>
