

<nav class="fixed-top">
	<div class="content-wrapper">
		<ul class="theme-page-menu">
			<li><a go-to-id="filosofi" href="">Filosofi</a></li>
			<li><a go-to-id="hybrid" href="">WP Hybrid</a></li>
			<li><a go-to-id="hybrid-stretch" href="">Stretch Hybrid</a></li>
			<!-- <li><a go-to-id="solid" href="">Solid</a></li> -->
			<li><a go-to-id="waterproof" href="">Waterproof</a></li>
			<!-- <li><a go-to-id="varda-byxor" href="">Vårda dina byxor</a></li> -->
		</ul>
	</div>
</nav>

<section class="theme-page pants">

	<article id="filosofi" scroll-point style="background:url({{ site.baseurl }}/img/pants/banner_bg.jpg)" class="light-color banner">
	<!-- <article scroll-point style="background:url(/img/pants/banner_bg.jpg)" class="light-color banner"> -->
		<img src="/img/pants/byxor_banner.png" class="image" alt="" scroll-bg>
		<h1 class="title"><img class="logo" src="/img/lundhags-logo.svg" alt="" />Byxor</h1>

		<div class="banner__content" scroll-content>
      <p>Vi hämtar inspiration från den natur vi själva vistas i. Natur som är storslagen, vild och nordisk. I den här miljön ska våra byxor kunna användas – oavsett årstid, väder och vind.</p>
		</div>

	</article>



  <article scroll-point zoom-in class="light-color align-center zoom-in" >
    <figure><img src="/img/pants/byxor_miljobakgrund.jpg" alt="" scroll-bg class="bg"></figure>
		<div class="text-content" scroll-content>

			<h1 class="title medium">Skräddarsydda<br/>efter dina behov</h1>

      <p>Nästan ingenting är konstant i naturen. Årstider, färger och förutsättningar skiftar i ett ständigt flöde. Vårt sortiment är utvecklat för att möta alla behov och vi har delat in våra byxor i tre kategorier; vattentäta hybrider (WP Hybrid), Stretchhybrider och vattentäta skal (Waterproof).</p>
      <!-- <a href="#">Läs mer</a> -->
		</div>


	</article>

  <article scroll-point scroll-point-bottom class="light-color align-center" >

		<figure><img src="/img/pants/passform_byxor.jpg" alt="" scroll-bg class="bg"></figure>

		<div class="text-content" scroll-content>
			<h1 class="title medium">Passform och<br/>funktion</h1>
      <p>Passform och funktion har sällan varit synonymt. Ett av våra signum är plagg med god passform. När vi kombinerar den med funktionella detaljer och noggrant utvalda material, blir resultatet byxor som är både slittåliga och sköna att bära. Byxor som du vill röra dig i.</p>
			<!-- <a href="#">Läs mer</a> -->
		</div>

    <!-- <div class="movement-layers">
      <div class="layer" data-depth="0.1"><img src="/img/pants/passform_byxor.jpg" alt=""></div>
    </div> -->

	</article>

  <!-- Hybrid -->

	<article id="hybrid" scroll-point class="layers dark-color align-center" style="background: #fff">

    <div class="text-content" scroll-content>
		  <h1 class="title large">WP Hybrid</h1>
      <p>I hybridbyxorna har vi kombinerat Lundhags PolyCotton stretch (LPC stretch) med vårt med vårt vattentäta 3-lagersmembran Zethar. På så vis har vi skapat en byxa som är vattentät där du behöver det som mest – på knän, bak, lårens framsida och underbenen. LPC-panelerna gör att byxan ventilerar väl och att du kan anstränga dig i dem utan att svettas.</p>

		</div>

    <figure class="layered" y-pos="1"  data-direction="1" data-speed="0.3">
			<img src="/img/pants/layer_img1.jpg">
		</figure>

		<figure class="layered" y-pos="70"  data-direction="1" data-speed="0.2">
			<img src="/img/pants/layer_img2.jpg">
		</figure>

	</article>

	<article scroll-point class=" align-center shine-effect bg-hybrid">

		<img src="/img/pants/wphybrid.jpg" alt="" class="bg text zoom-in-out">

		<div class="text-content features-wrapper" scroll-content>
			<div class="features">
				<img src="/img/pants/antjah.png" alt="" class="">
        <ul class="hotspots" id="features_hybrid">
					<li class="right"><span>Inbyggd justering i midja för bättre passform.</span></li>
					<li class="right"><span>3-lagers vattentätt Zethar över säte och framsida av byxben.</span></li>
					<li class="right"><span>Förböjda knän för bättre passform och ökad rörlighet</span></li>
					<li class="right"><span>Lång tvåvägsdragkedja på underbenet ger generös ventilation.</span></li>
					<li class="right"><span>Justering i benslut tätar mot vind och väta.</span></li>
					<li class="left"><span>Ventilation genom handfickorna.</span></li>
					<li class="left"><span>Rymlig ficka med dragkedja på höger ben.</span></li>
					<li class="left"><span>LFC med mekanisk stretch för ökad rörlighet.</span></li>
					<li class="left"><span>Keprotec-förstärkningar längst ner på byxan ger extra förstärkning där slitaget är som hårdast.</span></li>
					<li class="left"><span>Kängkrokar som kan fästas i kängans snörning för att hålla byxbenet på plats.</span></li>
				</ul>
			</div>
		</div>

		<!-- <a href="#features_boot" class="toggle-features" prev-text="Göm">features</a> -->
    <a href="https://www.lundhags.se/Produkter/Klaeder/Byxor" class="go-to-category">Se alla byxor</a>
    <a href="https://www.lundhags.se/content/search?SearchText=antjah+pant" class="product-model-name">Antjah Pant</a>
	</article>

  <!-- Hybrid Stretch -->

  <article id="hybrid-stretch" scroll-point class="layers dark-color align-center" style="background: #fff">

		<div class="text-content" scroll-content>
		  <h1 class="title large">Stretch Hybrid</h1>
      <p>Våra hybridbyxor med stretch är utvecklade för att du ska kunna röra dig så fritt som möjligt. Byxorna är slitstarka och har generösa stretchpaneler på rätt ställen för ökad följsamhet.</p>
		</div>

    <figure class="layered" y-pos="1"  data-direction="1" data-speed="0.3">
			<img src="/img/pants/layer_img3.jpg">
		</figure>

		<figure class="layered" y-pos="70"  data-direction="1" data-speed="0.2">
			<img src="/img/pants/layer_img4.jpg">
		</figure>

	</article>

	<article scroll-point class=" align-center shine-effect bg-hybrid-stretch">

		<img src="/img/pants/stretchhybrid.jpg" alt="" class="bg text zoom-in-out">

		<div class="text-content features-wrapper" scroll-content>
			<div class="features">
				<img src="/img/pants/makke.png" alt="" class="">
        <ul class="hotspots" id="features_hybrid_stretch">
          <li class="right"><span>Stretchparti över höft och säte.</span></li>
          <li class="right"><span>Figurnära och följsam passform.</span></li>
					<li class="right"><span>LPC med mekanisk stretch för ökad rörlighet.</span></li>
					<li class="right"><span>Förböjda knän.</span></li>
					<li class="right"><span>Schoeller Dryskin stretch över säte och framsida underben för maximal rörlighet och slitstyrka.</span></li>
					<li class="right"><span>Kängkrok som kan fästas i kängans snörning för att hålla byxbenet på plats. </span></li>

					<li class="left"><span>Ventilation genom handfickorna.</span></li>
					<li class="left"><span>Bälgfickor med mobilinnerficka och plats för karta och kompass.</span></li>
					<li class="left"><span>Ventilation på insidan av låret.</span></li>
					<li class="left"><span>Tvåvägsventilation på utsidan av underbenet.</span></li>
					<li class="left"><span>Keprotec-förstärkningar längst ner på byxan ger extra förstärkning där slitaget är som hårdas.</span></li>
          <li class="left"><span>Justering i benslut.</span></li>
				</ul>
			</div>
		</div>

		<!-- <a href="#features_boot" class="toggle-features" prev-text="Göm">features</a> -->
    <a href="https://www.lundhags.se/Produkter/Klaeder/Byxor" class="go-to-category">Se alla byxor</a>
    <a href="https://www.lundhags.se/content/search?SearchText=makke+pant" class="product-model-name">Makke Pant</a>

	</article>

  <!-- Solid -->

  <!--<article id="solid" scroll-point class="layers dark-color align-center" style="background: #fff">

		<div class="text-content" scroll-content>
		  <h1 class="title large">Solid</h1>
      <p>Byxorna i kategorin Solid är sydda i Lundhags PolyCotton (LPC), vår egen blandning av polyester och bomull. Blandningen gör dem mångsidiga och slitstarka, dessutom har de god andningsförmåga. Tyget har en behaglig struktur som man gärna har direkt mot huden, oavsett temperatur. </p>
    </div>

    <figure class="layered" y-pos="1"  data-direction="1" data-speed="0.3">
			<img src="/img/boots/bg_livskvalitet.jpg">
		</figure>

		<figure class="layered" y-pos="70"  data-direction="1" data-speed="0.2">
			<img src="/img/boots/bg_livskvalitet.jpg">
		</figure>

	</article>

	<article scroll-point class=" align-center shine-effect bg-solid">

		<img src="/img/pants/solid.jpg" alt="" class="bg text zoom-in-out">

		<div class="text-content features-wrapper" scroll-content>
			<div class="features">
				<img src="/img/pants/jonten.png" alt="" class="">
        <ul class="hotspots" id="features_solid">
          <li class="left"><span>Handfickor.</span></li>
					<li class="left"><span>Innerficka för mobilen.</span></li>
					<li class="left"><span>LPC är ett behagligt mjuk material med bra andningsförmåga som är vindtåligt och vattenavvisande vid behandling.</span></li>
          <li class="right"><span>Generösa bälgfickor med rejält lock med plats för det som du vill ha nära till hands.</span></li>
          <li class="right"><span>Förböjda knän för bättre passform och ökad rörlighet.</span></li>
					<li class="right"><span>Rålängd gör att byxan enkelt kan anpassas efter din egen längd.</span></li>
				</ul>
			</div>
		</div>

    <a href="https://www.lundhags.se/Produkter/Klaeder/Byxor" class="go-to-category">Se alla byxor</a>
    <a href="https://www.lundhags.se/Produkter/Klaeder/Byxor/Jonten-Pant/" class="product-model-name">Jonten Pant</a>

	</article>-->

  <!-- Waterproof -->

  <article id="waterproof" scroll-point class="layers dark-color align-center" style="background: #fff">

		<div class="text-content" scroll-content>
		  <h1 class="title large">Waterproof</h1>
      <p>När vädret är dåligt, eller låt säga krävande, med mycket nederbörd, hittar du våra bäst lämpade plagg i kategorin Waterproof. Till dessa byxor använder vi 3-lagers Zethar och om du klär dig enligt lager-på-lager-principen står du väl rustad för alla väderförhållanden, från hällregn till kall blötsnö.</p>
    </div>

		<figure class="layered" y-pos="1"  data-direction="1" data-speed="0.3">
			<img src="/img/pants/layer_img5.jpg">
		</figure>

		<figure class="layered" y-pos="70"  data-direction="1" data-speed="0.2">
			<img src="/img/pants/layer_img6.jpg">
		</figure>

	</article>

	<article scroll-point class=" align-center shine-effect bg-waterproof">

		<img src="/img/pants/waterproof.jpg" alt="" class="bg text zoom-in-out">

		<div class="text-content features-wrapper" scroll-content>
			<div class="features">
				<img src="/img/pants/rocketeer.png" alt="" class="">
        <ul class="hotspots" id="features_waterproof">
          <li class="right"><span>Handfickor med vattenavvisande dragkedjor.</span></li>
          <li class="right"><span>3-lagers Zetharmembran håller dig torr.</span></li>
          <li class="left"><span>Rymlig benficka med kraftigt lock ger snabb tillgång till det du vill ha nära till hands.</span></li>
          <li class="left"><span>Ventilation med lång 2-vägsdragkedja längs benen.</span></li>
          <li class="right"><span>Förböjda knän med plats för knäskydd.</span></li>
          <li class="left"><span>Schoeller Keprotec-förstärkning från knän och ner för maximal slitstyrka.</span></li>
          <li class="right"><span>Kängkrok som kan fästas i kängans snörning för att hålla byxbenet på plats.</span></li>
          <li class="left"><span>Justering i benslut tätar mot vind och väta.</span></li>
				</ul>
			</div>
		</div>

		<!-- <a href="#features_boot" class="toggle-features" prev-text="Göm">features</a> -->
    <a href="https://www.lundhags.se/Produkter/Klaeder/Byxor" class="go-to-category">Se alla byxor</a>
    <a href="https://www.lundhags.se/content/search?SearchText=rocketeer+pant" class="product-model-name">Rocketeer Pant</a>

	</article>

	<!-- <article scroll-point class="light-color align-center movie-wrapper darken-bg">

		<figure><img class="bg" src="/img/pants/byxortarform.jpg" alt=""></figure>

		<iframe width="560" height="315" src="https://www.youtube.com/embed/gNktV0e2-2k?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

		<div class="text-content" scroll-content>

			<h1 class="title medium">Se byxorna ta form</h1>
			<p>En byxas användningsområde styr funktionaliteten i plagget. Design, materialval, prototyp, test, justering och nya prototyper – resan till färdig produkt är lång, men så ska byxan hålla länge också.</p>
			<a href="#" class="play-movie">Se film</a>
		</div>

	</article> -->

  <article scroll-point scroll-point-bottom class="light-color align-center" >

		<div class="text-content" scroll-content>
			<h1 class="title medium">Val utan kval</h1>
      <p>Rätt material på rätt ställe är vår filosofi vid utvecklingen av nya och befintliga byxmodeller. Form ska följa funktion. Hållbarhet är vårt fokus både estetiskt och slitagemässigt. Materialen vi väljer ska ha minsta möjliga inverkan på naturen.</p>
      <a href="https://www.lundhags.se/Guider-Inspiration/Materialguider/Klaeder">Våra material</a>
    </div>

    <div class="movement-layers">
      <div class="layer" data-depth="0.1"><img src="/img/pants/valutankval_byxor.jpg" alt=""></div>
    </div>

	</article>

  <!-- <article id="varda-byxor"  scroll-point class="light-color align-center movie-wrapper darken-bg">

		<figure><img class="bg" src="/img/pants/behandlabyxor.jpg" alt=""></figure>

		<iframe width="560" height="315" src="https://www.youtube.com/embed/gNktV0e2-2k?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

		<div class="text-content" scroll-content>

			<h1 class="title">Behandla dina byxor väl</h1>
			<p>Om du tar hand om dina byxor håller de längre, även om du använder dem mycket och under tuffa förhållanden.</p>
      <a href="#" class="play-movie">Se film</a>
		</div>

	</article> -->

  <article scroll-point zoom-in class="light-color align-center zoom-in">

    <figure><img scroll-bg src="/img/pants/byxoravslut.png" alt=""></figure>

		<div class="text-content" scroll-content>
			<h1 class="small-title">Lundhags byxor</h1>
			<p><a href="https://www.lundhags.se/Produkter/Klaeder/Byxor">Se hela sortimentet</a></p>
		</div>

	</article>


</section>
