<section class="theme-page">

	<article class="product-banner">

		<div class="product-banner__content">

      <figure><img src="/img/{{page.product_img}}" alt=""></figure>
      <div>
        <h1>{{ page.product_title }}</h1>
  			<p>{{ page.product_text }}</p>
        <a href="{{ page.product_link }}">Gå till produkt</a>
      </div>
		</div>

	</article>



	<article scroll-point class="light-color align-center">

		<figure><img class="bg" src="/img/sarvabanner.jpg" alt="" ></figure>
		<!-- <img class="stuck" src="/img/blackice/skaters.png" alt=""> -->

		<div class="text-content" scroll-content>
			<h1 class="title large">Sarva</h1>

			<p>Den här kängan är resultatet av ett samarbete med Sarva, där klädmärket har satt sin egen prägel på den klassiska Lundhagskänslan. Sarvas design och funktion passar lika bra på fjället som i stan.</p>
		</div>

	</article>



  <article scroll-point scroll-point-bottom class="light-color align-center" >

		<div class="text-content" scroll-content>
			<h1>Jeansmakare + skomakare</h1>
		</div>

        <div class="movement-layers">
          <div class="layer" data-depth="0.1"><img src="/img/jeans.jpg" alt=""></div>
        </div>


	</article>


	<article scroll-point scroll-point-bottom class="product big">
    <div class="product__wrapper">
  	  <figure class="flip-it"><img class="flip-it__obj" src="/img/{{page.product_img}}" alt=""></figure>
      <div class="product__wrapper__text">
        <h1>{{ page.product_title }}</h1>
        <p>{{ page.product_text }}</p>
        <a href="{{ page.product_link }}">Gå till produkt</a>
      </div>
    </div>
	</article>


</section>
