


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/1.1.1/jquery.parallax.min.js" ></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<!-- build:js(app) /js/vendor.js -->
  <!-- bower:js -->
    <script src="/_bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="/_bower_components/waypoints/lib/shortcuts/sticky.js"></script>

  <!-- endbower -->
<!-- endbuild -->

<!-- build:js(app) /js/script.js -->
<script src="/js/layered.js"></script>
<script src="/js/slider.js"></script>
<script src="/js/main.js"></script>
<!-- endbuild -->
