@import "base/variables";
@import "base/animations";
@import "base/mixins";
@import "base/fonts";
@import "base/gui";


@import "content/nav";
@import "content/movement-area";
@import "content/layered";
@import "content/columns";
@import "content/scroll-animations";
@import "content/banner";
@import "content/text-content";
@import "content/slider";
@import "content/features";
@import "content/products";
@import "content/flipIt";



.light-color * {
  color:#fff;
}

.dark-color * {
  color:#000;
}

.light-color a, .dark-color a {
  color:$primary-color;

  .black-ice & {
    color:$ice-red;
  }
}




.hidden-touch {
	display: block;

	.touch-device & {
		display: none !important;
	}
}

.visible-touch {
	display: none;

	.touch-device & {
		display: block !important;
	}
}





.welcome-wrapper {
  z-index:1000;
}


.keyart, .keyart_layer {
	height: 1000px;

}

.parallax {
	animation-timing-function: ease-out;
	-webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
-webkit-transform-style: preserve-3d;
-webkit-transform: translateZ(0);
-webkit-transform: translate3d(0, 0, 0);
-webkit-filter: opacity(0.99999);
}

#parallax {
	//display: none;
	overflow:hidden;
	text-align:center;
	background-color: #ebb22b;
	display:flex;
	justify-content:center;
	padding-top:100px;
}
#nonparallax {
	//display: block;
}

.keyart {
	position: relative;
	z-index: 10;
}

.keyart_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}

.keyart_layer.parallax {
	position: fixed;

	&.top-logo {
		width:auto;
		margin:auto;
		height:auto;
	}
}
	#keyart-0 {
		background-image: url('../img/parallax0.png');
		background-color: #ffaf1b;
	}
	#keyart-1 {
		background-image: url('../img/parallax1.png');
	}
	#keyart-2 {
		background-image: url('../img/parallax2.png');
	}
	#keyart-3 {
		background-image: url('../img/parallax3.png');
	}
	#keyart-4 {
		background-image: url('../img/parallax4.png');
	}
	#keyart-5 {
		background-image: url('../img/parallax5.png');
	}
	#keyart-6 {
		background-image: url('../img/parallax6.png');
	}
	#keyart-7 {
		background-image: url('../img/parallax7.png');
	}
	#keyart-8 {
		background-image: url('../img/parallax8.png');
	}
	#keyart-scrim {
		background-color: #ffaf00;
		opacity: 0;
	}



/* leaf animations */

#leaves {
	position:relative;top:-150px;width:100%;text-align: center;
	display:flex;
	justify-content:space-between;
}

#leaves i {
    display: inline-block;
    width: 200px;
    height: 150px;
    background: linear-gradient(to bottom right, #309900, #005600);
    transform: skew(20deg);
    //border-radius: 5% 40% 70%;
    //box-shadow: inset 0px 0px 1px #222;
    //border: 1px solid #333;
    z-index: 1;
    -webkit-animation: falling 5s 0s infinite;

    //width:35px;
  //height:35px;
  //position:absolute;
  background: url(http://www.clipartqueen.com/image-files/red-lobed-fall-clipart-leaf.png);
  background-size: 100% 100%;
}

#leaves i:nth-of-type(2n) { -webkit-animation: falling2 5s 0s infinite; }
#leaves i:nth-of-type(3n) { -webkit-animation: falling3 5s 0s infinite; }


#leaves i:nth-of-type(n)    { height:60px; width:60px; }

#leaves i:nth-of-type(2n+1)    { height:11px; width:16px; }

#leaves i:nth-of-type(3n+2)  { height:17px; width:23px; }

#leaves i:nth-of-type(n)   { -webkit-animation-delay: 1.9s;}
#leaves i:nth-of-type(2n)  { -webkit-animation-delay: 3.9s;}
#leaves i:nth-of-type(3n)  { -webkit-animation-delay: 2.3s;}
#leaves i:nth-of-type(4n)  { -webkit-animation-delay: 4.4s;}
#leaves i:nth-of-type(5n)  { -webkit-animation-delay: 5s;  }
#leaves i:nth-of-type(6n)  { -webkit-animation-delay: 3.5s;}
#leaves i:nth-of-type(7n)  { -webkit-animation-delay: 2.8s;}
#leaves i:nth-of-type(8n)  { -webkit-animation-delay: 1.5s;}
#leaves i:nth-of-type(9n)  { -webkit-animation-delay: 3.3s;}
#leaves i:nth-of-type(10n) { -webkit-animation-delay: 2.5s;}
#leaves i:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
#leaves i:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
#leaves i:nth-of-type(13n) { -webkit-animation-delay: 1s;  }
#leaves i:nth-of-type(14n) { -webkit-animation-delay: 4.7s;}
#leaves i:nth-of-type(15n) { -webkit-animation-delay: 3s;  }

//#leaves i:nth-of-type(n)    { background: linear-gradient(to bottom right, #f3f3f3, #d5d5d5); }
//#leaves i:nth-of-type(2n+2)  { background: linear-gradient(to bottom right, #d5d5d5, #f3f3f3); }
//#leaves i:nth-of-type(4n+1)  { background: linear-gradient(to bottom right, #ebb22b, #ffaf1b); }

#leaves i:nth-of-type(n)    { opacity: .7;}
#leaves i:nth-of-type(3n+1)  { opacity: .5;}
#leaves i:nth-of-type(3n+2)  { opacity: .3;}

#leaves i:nth-of-type(n)    {transform: rotate(180deg);}


#leaves i:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}

@-webkit-keyframes falling {

    0% {
        -webkit-transform:
            translate3d(300,0,0)
            rotate(0deg);
    }

    100% {
        -webkit-transform:
            translate3d(-350px,700px,0)
            rotate(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling3 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(-20deg);
    }

    100% {
        -webkit-transform:
            translate3d(-230px,640px,0)
            rotate(-70deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling2 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(90deg);
    }

    100% {
        -webkit-transform:
            translate3d(-400px,680px,0)
            rotate(0deg);
        opacity: 0;
    }
}
