
body, html {
  height: 100%;
}

body {
  margin:0;

  &:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    pointer-events:none;
    background:url(/img/spinner.gif) no-repeat center center, rgba(0,0,0,0.4);
    background-size:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    //display:block;
    color:#fff;
    opacity:0;
    transition:all .2s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    z-index:99999999;


  }
/*
  &:before {

    @extend .fa;
    content:"\f110";
    color:$primary-color;
    font-size:3em;

    position:absolute;
      display: flex;
    justify-content: center;
    align-self: center;
    top: 50%;
    left: 50%;
    width: 0;

    z-index:999;

    -webkit-animation-name: spin;
    -o-animation-name: spin;
    animation-name: spin;

    -webkit-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;

    -webkit-animation-duration: 20s;
    -o-animation-duration: 20s;
    animation-duration: 20s;

    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  } */

  &.loading {
    //opacity:0.5;
    overflow:hidden;

    &:after {
      opacity:1;
    }
  }




}

#main {
  background: none;
  padding-bottom: 0;
}

.theme-page {
  margin-top:84px;
  line-height: 1.6;
  overflow-x: hidden;

  &.heritage {
    background-attachment:fixed !important;
    background-size:cover !important;

    @media screen and (-webkit-device-pixel-ratio: 2) {
  		//background-attachment:initial !important;
  		background-size:auto 120vh !important;
      background-position: center top !important;
  	}
  }

  @media screen and (min-width:$landscape){
    margin-top:120px;
  }

  @media screen and (min-width:$desktop){
    margin-top:0;
  }

}

footer {
  z-index:1000;
}

.fixed {
	position: fixed;
}


// #main-menu {
// 	transition:all .2s cubic-bezier(0.680, -0.550, 0.265, 1.550);
// 	max-height:1000px;
// 	overflow:hidden;
//
// 	.scrolling & {
// 		max-height:0;
// 		overflow:hidden;
// 		transition-delay:.2s;
// 	}
// }

a {

  .theme-page & {
    //display:block;
    display:inline-block;
    color:$primary-color;
    font-size:1.3rem;
    text-transfomr:uppercase;
    font-family: 'Lundhags Title', helvetica, _sans;
    letter-spacing:4px;
    letter-spacing:2px;

    &:hover {
      color:lighten($primary-color,10%);
    }
  }

  .black-ice.theme-page & {
    color: $ice-red;

    &:hover {
      color:lighten($ice-red,10%);
    }
  }
}

* {
  box-sizing:border-box;
}

h1, h2, h3, h4, h5 {
  color:initial;
  text-transform:uppercase;
  margin:0;
  margin-bottom:1em;
  margin-bottom:.6em;
  border:0;
  line-height:1.2;
}

h1 {
  @media screen and (max-width:$portrait - 1){
    font-size:23px;
  }
}

figure {
  margin:0;

  &.bg {
    max-height: 100vh;

    img {
      @media screen and (min-width:$landscape){
        min-width:100vw;
      }
    }
  }
}

.rotate {
  transform: rotate(-45deg);
}

img {
  vertical-align:bottom;

  &.bg {
    min-height:100vh;
    //min-width:100vw;



    &.text{
      max-width:100%;
      min-height:0;
      transform-origin: bottom;

      .pants & {
        position: absolute;
        opacity:0;

        @media screen and (min-width:$portrait){
          position: relative;
          opacity:1;
        }
      }
    }

    @media screen and (min-width:$landscape){
      min-width:100vw;
    }

    @media screen and (min-width:1700px){
      //min-width:100%;
    }
  }
}

p {
  font-size:1rem;

  [scroll-content] & {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    //font-size:1.3rem;
  }

  @media screen and (min-width:$portrait){
    font-size:1.3rem;
  }

  /* .align-center &, .align-left & {
    font-size:1rem;
  } */
}

.icon-btn {
  padding:.8em $padding*2;
  background:#fff;
  color:#000 !important;
  text-align:center;

  &:hover {
    background:rgba(250,250,250,0.5);
  }

  &.invert {
    background:#000;
    color:#fff !important;

    &:hover {
      background:rgba(0,0,0,0.5);
    }
  }
}

.title {
  text-align:center;
  z-index:1;
  position: relative;

  &.bordered {
    line-height:1.4;

    margin-bottom:1em;

    @media screen and (min-width:$portrait){
      font-size:4vw;
    }

    &:before, &:after {
      width:100%;
      display:block;
      content:"";
      height:6px;
      background:#fff;
    }

    &:before {
      margin-bottom:4px;
    }
  }

  .slider & {


    @media screen and (min-width: $portrait) {
      font-size:3rem;
      font-size: calc(2rem + 5vw);
      margin-bottom:0.5em;
    }
  }

  &.medium {
    font-size:2rem;
    font-size: calc(2rem + 3vw);
    //margin-bottom:0em;
    line-height:1;
    max-width:1100px;
    margin-left:auto;
    margin-right:auto;

    @media screen and (min-width: $portrait) {
      font-size:3rem;
      font-size: calc(2rem + 3vw);
    }
  }

  &.large {
    font-size:2.2rem;
    //font-size: calc(2rem + 7vw);
    //margin-bottom:0em;
    line-height:1;
    letter-spacing: 0.8rem;

    @media screen and (min-width: $portrait) {
      font-size:3rem;
      font-size: calc(2rem + 7vw);
    }
  }

  .banner & {
    font-size:12vw;

    font-size:3rem;
    //font-size: calc(3rem + 7vw);
    margin:2em auto 0;
    margin:40vh auto 0;

    .black-ice & {
      font-size:3rem;
      //font-size: calc(3rem + 5vw);
      margin:2em auto 0;
      margin:40vh auto 0;

      @media screen and (min-width: $portrait) {
        font-size:3rem;
        font-size: calc(3rem + 5vw);
      }
    }

    .heritage & {
      margin:20vh auto 0;
    }

    @media screen and (min-width: $portrait) {
      font-size:4rem;
      font-size: calc(3rem + 7vw);
    }

    // Heritage fix

    width:100%;

  }

  > .logo {
    max-width:150px;
    display:block;
    margin:auto;
  }




  // Black Ice

  .black-ice & {
    position: relative;

    &:before, &:after {
      content:"";
      height:2px;
      width:75px;
      background: $primary-color;
      background: $ice-red;
      display:block;
      margin: 20px auto 0px;
    }

    &:before {
      margin: 0px auto 30px;
    }

    &.one-line {
      &:before {
        display:none;
      }
    }

    > .logo {
      position: absolute;
      top: -1em;
      left:0;
      right:0;

      @media screen and (min-width:$portrait){
        top: -0.5em;
      }
    }

  }
}

quoteblock {
  font-size:3rem;
  font-size: calc(2rem + 2vw);
  font-size: calc(2rem + 1vw);
  font-size: calc(1.6rem + 1vw);
  margin-bottom:0em;
  line-height:1;
  font-family: $font-title;
  text-transform:uppercase;
  letter-spacing:4px;

  max-width: 1000px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  margin:40px auto 80px;

  > span {
    font-size: 1.4rem;
    display: block;
    //margin-top:.6rem;
    position: absolute;
    bottom:-50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  &:before, &:after {
    content:'"';
  }

  @media screen and (min-width:$portrait){
    margin:0 auto;

    > span {
      bottom:-30px;
    }
  }
}

div.title {
  color:red;
}



.align-center {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  text-align:center;

 /*  .text-content p {
    margin-bottom:-65%;
  } */
}



.align-left {
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:center;
  text-align:left;

  .text-content {
    bottom:40%;
  }

  .text-content .fixed-text {

    @media screen and (min-width:$portrait){
      margin-left:5%;
    }
  }

/*   .text-content p {
    margin-bottom:-65%;
  } */
}


$height:.5em;

.top-logo {
  position: relative;
  //border-top:4px solid;
  //border:0;
  border-bottom:3px solid;
  padding:($height*2 * 1.2) 0 $height;
  display:inline-block;
  overflow-x:hidden;
  overflow-y:visible;

  &:before, &:after {
	  width:35%;
	  height:3px;
	  background:#000;
	  position: absolute;
	  //margin-top:-3px;
	  top:0%;
	  top:$height * 1.2;
	  //bottom:0;
	  //margin:auto;
	  content:"";
	  display:inline-block;
	}

	&:before {
	  left:0;
	}

	&:after {
	  right:0;
	}

  img {
    width:100%;
    height:auto;
  }

  .logo {
    content:"";
    display:block;
    top:-$height;
    top:0;
    left:0;
    right:0;
    margin:auto;

    width:100px;
    width:$height*6;

    position: absolute;

    /* &:before, &:after {
      width:80%;
      height:3px;
      background:#000;
      position: absolute;
      margin-top:-3px;
      top:50%;
      content:"";
      display:inline-block;
    }

    &:before {
      left:-100%;
    }

    &:after {
      right:-100%;
    } */
  }
}

div.logo {
  img {
    width: 300px;
  }
}

.logo-text {
  font-family: $font-title;
  text-transform: uppercase;
  display: block;
  letter-spacing:4px;
  text-align: center;
  margin-top:-30px;
  margin-bottom:30px;
}

article.movie-wrapper {
  img, video {
    width:auto;
    min-height:100vh;

  }

  &:not(.item) {
    // img, video {
    video {
      position: absolute;
      min-width: 100%;
      left: 0;
    }
  }
}

.movie-wrapper {
  width:100%;
  flex-direction: column;

  img, video {
    width:auto;
    //min-height:100vh;

    @media screen and (min-width:$portrait){

      min-width:100vw;
    }

    @media screen and (min-width:$desktop) and (orientation:landscape){

      //min-width:100vw;
    }
  }

  > * {
    transition:all .4s ease-in-out .4s;
    opacity:1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  video {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100% !important;
    height:100% !important;
    min-width:100px;
  }

  iframe {
    transition:opacity .4s ease-in-out .4s;
    opacity:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100% !important;
    height:100% !important;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  &.playing {

    > * {
      transition:all .4s ease-in-out .4s;
      opacity:0;
      pointer-events:none;
      transform: matrix(1, 0, 0, 1, 0, 20);
    }

    iframe {
      transition:opacity .4s ease-in-out 1s;
      opacity:1;
      pointer-events:all;
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }

}

$dot-size: 6px;

.dots-down {
  width:$dot-size;
  height:$dot-size;
  border-radius:50%;
  background:$primary-color;
  //background:rgba($primary-color,0);
  position: relative;
  //opacity:0;
  flex:none !important;

  margin:auto;
  bottom:-100px;
  transition:all .4s ease-in-out 0s;

  animation-name: animateDots;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-iteration-count: infinite;

//   &:before, &:after {
//     content:"";
//     display:block;
//     width:$dot-size;
//     height:$dot-size;
//     border-radius:50%;
//     background:$primary-color;
//     //background:rgba($primary-color,0);
//     position: absolute;
//     //opacity:0;
//     transition:all .4s ease-in-out 0s;
//
//     display: none;
//   }
//
//   &:before {
//     top:14px;
//
//     animation-name: showNhideDots;
//     animation-delay: 1s;
//     animation-duration: 2s;
//     animation-iteration-count: infinite;
//
//     box-shadow: 0 0 0 0 $primary-color;
//
//   }
//
//   &:after {
//     top:28px;
// display: none;
//     animation-name: showNhideDots;
//     animation-delay: 2s;
//     animation-duration: 1s;
//     animation-iteration-count: infinite;
//
//   }
}

.lake {
  img {

    &:first-of-type {
      transition: all 2s linear 0s;
      transform:scale(1.0);
    }

    &:last-of-type{
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 2s linear 0s;
      transform:scale(1.0);
    }
  }

  .hit & {
    img {

      &:first-of-type {
        transform:translateY(-40px) scale(1.6);
      }

      &:last-of-type {
        transform:translateY(-40px) scale(1.1);
      }
    }
  }
}

.bg.ice {
  background:#000;
  width:100%;
  height:100vh;

  img {
    top:0;
    bottom:auto;
    bottom:0;
    top:auto;
    transition: all 4s linear 0s;
    transform:translateY(0);
    opacity: .3;

    animation-name:skate;
    animation-duration:25s;
    animation-iteration-count:infinite;
    animation-delay:0s;
  }

  .hit & {
    img {
      bottom:0;
      top:auto;
      top:0;
      bottom:auto;
      //transform:translateY(-40vh);
      transition: all 25s linear 0s;
      opacity: .8;


    }
  }
}

.darken-bg {
  &:before {
    background: rgba(0,0,0,0.35);
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    display: block;
    content: "";
    z-index:1;
    pointer-events: none;
  }
}

.smoke-loop {
  width:90vw;
  position: relative;
  margin:auto;
  margin-bottom: 60vh;

  img {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    width: 100%;

  }

  @media screen and (min-width:$portrait){
    width:60vw;
  }

  @media screen and (min-width:$desktop){
    width:40vw;
  }
}
