

$wrapDefault: wrap !default;
$dirDefault: row !default;
$alignXDefault: center !default;
$alignYDefault: center !default;
$widthDefault: 100% !default;

@mixin flex-layout($wrap: $wrapDefault, $dir: $dirDefault, $alignX: $alignXDefault, $alignY: $alignYDefault, $width: $widthDefault) {
  display:flex;
  flex-wrap:$wrap;
  flex-direction: $dir;
  justify-content:$alignX;
  align-content:$alignY;
  width: $width;
}
