$blackice : false;

$padding:20px;
$max-width:1200px;
$portrait:768px;
$landscape:1024px;
$desktop:1200px;
$xl:1400px;

$light-gray: #f5f5f5;
$primary-color: #df6016;
$ice-red: #c03232;
$bg-color:#f1f1f1;

$pants-features-bg: #484743;

@if $blackice {
  $primary-color:#c03232;
}
